#tribe-events-bar {
	background: $grey;
	@include clearfix;
	@include rems(padding, 1.5);
	@include rems(margin-bottom, 2);
	#tribe-bar-collapse-toggle, #tribe-bar-views {
		display: none;
	}
	.tribe-bar-filters {
		@include clearfix;
		.tribe-bar-date-filter, .tribe-bar-search-filter {
			width: 40%;
			@include box;
			@include rems(padding-right, 1);
			float: left;
			label {
				display: none;
			}
		}
		.tribe-bar-submit {
			float: left;
			width: 20%;
			input[type=submit] {
				width: 100%;
			}
		}
	}
}
ul {
	&.tribe-events-sub-nav {
		@include clearfix;
		li {
			float: left;
			&:last-child {
				float: right;
			}
		}
	}
}
table {
	&.tribe-events-calendar {
		@media #{$phone} {
			width: 100%;
		}
		thead {
			th {
				background: $blue;
				color: #fff;
				@media #{$phone} {
					display: none;
				}
			}
		}
		.hentry {
			@include rems(padding, 0.2, 0.9);
		}
		td {
			@media #{$phone} {
				display: block;
				width: 100%!important;
			}
			&.tribe-events-past {
				background: #f0f0f0;
				@media #{$phone} {
					display: none;
				}
			}
		}
	}
}
