.tribe-events-cal-links {
	@include clearfix;
	@include rems(padding-top, 2);
	a {
		float: left;
		@include rems(margin-right, 1);
		@media #{$phone} {
			@include rems(margin-bottom, 1);
		}
	}
}
.tribe-events-event-meta {
	@include clearfix;
	&:first-child {
		border-top: none!important;
	}
	h3 {
		@include font-size(2, 2.4);
	}
	dl {
		@include font-size(1.4, 1.8);
		@include clearfix;
		@include rems(margin-bottom, 2);
		dt {
			float: left;
			color: $blue;
			@include rems(margin-right, 1);
		}
		dd {
			float: left;
		}
	}
}
