$ipad: "only screen and (max-width : 65em)";
$nexus: "only screen and (max-width : 45em)";
$iphone: "only screen and (max-width : 25em)";

@mixin iphone-hide {
	@media #{$iphone} {
		display: none;	
	}	
}
@mixin full-width {
	@media #{$iphone} {
		width: 100%;	
	}	
}