/* Resets */

@mixin icon {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;	
}
@mixin font-size($size:1.6, $line: $size * 1.5){
    font-size:   ($size * 10) + px;
    line-height: ($line * 10) + px;
    font-size:   $size + rem;
  	line-height: $line + rem;
}
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rems($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*10}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
  }
  &:nth-child(#{$numPerRow}n+1) {
	clear: both;  
  }
}
@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin box {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
		    box-sizing: border-box;         /* Opera/IE 8+ */	
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;	
	-ms-border-radius: $radius;
	border-radius: $radius;
}

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased !important;	
}

html, body {
	height: 100%;
}
* { 
	margin:0; 
	padding:0; 
}
ol,ul {
	list-style:none;
}
img {
	border: none;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.clear {
	clear: both;
}
.col, aside {
	float: left;
}
p {
	padding-bottom: 1.5rem;
	padding-bottom: 15px;
}
p:last-child {
	padding-bottom: 0;	
}
.container {
	width: 90%;
	margin: 0 auto;
}
::selection {
	background: #e82c2d; /* Safari */
	color: #fff;
	}
::-moz-selection {
	background: #e82c2d; /* Firefox */
	color: #fff;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;	
}