/* Share Buttons */

.social-share {
	font-family:'Novecento Sans W01 Wd Bd';
	color: #fff;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 16px;
	line-height: 1.6rem;
	text-transform: uppercase;
	display: block;
	float: left;
	position: relative;
	font-weight: normal;
	letter-spacing: 0.1rem;
	text-decoration: none;
}
.social-share.facebook {
	background: #3b5998;
	padding: 5px 25px 5px 10px;
	padding: 0.5rem 2.5rem 0.5rem 1rem;	
}
.social-share.twitter {
	background: #4099ff;
	padding: 5px 30px 5px 10px;
	padding: 0.5rem 3rem 0.5rem 1rem;		
}
.social-share.google {
	background: #d34836;
	padding: 5px 30px 5px 10px;
	padding: 0.5rem 3rem 0.5rem 1rem;		
}
.social-share:after {
	margin-left: 5px;	
	margin-left: 0.5rem;
	font-size: 16px;
	font-size: 1.6rem;
}
.social-share.facebook:after {
	font-family: "dashicons";
	content: "\f305";
	position: absolute;
}
.social-share.twitter:after {
	font-family: "dashicons";
	content: "\f301";
	position: absolute;
}
.social-share.google:after {
	font-family: "dashicons";
	content: "\f462";
	position: absolute;	
}