/*!
Theme Name: British Weight Lifting
Theme URI: http://wordpress.org/
Description: The Custom Theme for British Weight Lifting
Author: 100 And 10%
Author URI: http://www.110percent.co.uk/
Version: 1.0
@charset "UTF-8";
/* CSS Document */

@import 'reset';
@import 'media';
@import 'mob-nav';
@import 'sharers';

$blue: #15377e;
$red: #e82c2d;

body {
	font-family: 'Open Sans', sans-serif!important;
	color: #4d4d4d;
	@include font-size(1.4, 1.8);	
}
.container {
	max-width: 1160px;
	@include clearfix;	
}
a {
	color: $red;
	text-decoration: none;	
}

/* Header Styles */

header {
	.header-meta {
		@include rems(padding, 0.5, 0, 0.2);
		background: $blue;
		@include clearfix;
		@media #{$iphone} {
			padding: 0;	
		}
		aside {
			@include clearfix;
			ul {
				@include clearfix;
				@include font-size(1.2, 3);
				font-weight: 700;
				float: left;
				@include iphone-hide;
				li {
					float: left;
					@include rems(margin-right, 1.5);
					a {
						color: #fff;
						&:hover {
							color: $red;	
						}
					}
					&.menu-item-has-children {
						position: relative;
						ul {
							background: $blue;
							position: absolute;
							@include rems(top, 3);
							@include rems(left, -1);
							width: auto;
							z-index: 600;
							display: none;
							li {
								display: block;
								text-transform: none;
								float: none;
								@include rems(padding, 0, 1);
								a {
									white-space: nowrap;	
									&:hover {
										color: $red;	
									}
								}
								&.menu-item-has-children {
									&:after {
										content: '\f105';
										float: right;
										color: #fff;
										font-family: 'FontAwesome';
										@include rems(margin, 0, 1);
										display: block;
										position: absolute;
										top: 0;
										@include rems(right, -1.5);
									}
									&:hover {
										&:after {
											color: $red;	
										}
									}
									ul {
										position: absolute;
										left: 100%;
										top: 0;
										display: none;
									}
								}
							}
						}
					}
				}
				&:first-child {
					li {
						&:first-child {
							a {
								color: $red;	
							}
						}
					}
				}
			}
			.menu-about-menu-container {
				float: left;	
				ul {
					li {
						&:first-child {
							a {
								color: #fff;	
							}
						}
					}
				}
			}
			&.header-search {
				float: right;
				@include full-width;
				a {
					color: #fff;
					@include rems(margin-left, 1);	
					@include font-size(1.2, 3);
					display: block;
					@include rems(padding-top, 0.3);
					float: left;
					@include iphone-hide;
				}
				form {
					float: right;
					@include clearfix;
					@include rems(margin-left, 1);
					@include full-width;
					@media #{$iphone} {
						@include rems(margin, 0.5, 0);	
					}
					label {
						display: none;	
					}
					input[type="text"] {
						background: url(images/header-search.png) center left no-repeat #f2f2f2;
						float: left;	
						@include box;
						@include rems(padding-left, 3.2);
						@include rems(width, 20);
						@include full-width;
					}
					input[type="submit"] {
						display: none;	
					}
				}
			}
		}
	}
	.header-main {
		@include rems(padding, 1.5, 0);	
		@include clearfix;
		#logo {
			width: 31.1%;	
			@include rems(padding-top, 1.3);
			@media #{$ipad} {
				@include rems(padding-top, 0.3);
				width: 28%;
				margin-right: 3.1%;
			}
			@include full-width;
			@media #{$iphone} {
				text-align: center;
			}
		}
		#header-ad {
			width: 68.9%;
			@include iphone-hide;
		}
	}
	nav {
		background: $red;
		@include clearfix;
		.container {
			@media only screen and(max-width : 1290px) {
				width: 100%;	
			}
		}
		@include iphone-hide;
		ul {
			@include clearfix;
			@media only screen and(max-width : 1280px) {
				text-align: center;	
			}
			li {
				float: left;
				text-transform: uppercase;
				@media only screen and(max-width : 1280px) {
					float: none;
					display: inline-block;
					@include font-size(1.2, 1.8);
				}
				@media #{$ipad} {
					@include font-size(1, 1.3);
				}
				&.menu-item-has-children {
					position: relative;
					ul {
						background: $red;
						position: absolute;
						@include rems(top, 3.8);
						left: 0;
						width: auto;
						z-index: 500;
						display: none;
						li {
							display: block;
							text-transform: none;
							float: none;
							a {
								white-space: nowrap;	
							}
							&.menu-item-has-children {
								&:after {
									content: '\f105';
									float: right;
									color: #fff;
									font-family: 'FontAwesome';
									@include rems(margin, 0, 1);
									display: block;
									position: absolute;
									@include rems(top, 1);
									right: 0;
								}
								ul {
									position: absolute;
									left: 100%;	
									top: 0;
									display: none;
								}
							}
						}
					}
				}
				a {
					@include rems(padding, 1, 0.9);
					color: #fff;
					text-decoration: none;
					display: block;
					&:hover {
						color: $blue;	
					}
					@media only screen and(max-width : 1280px) {
						@include rems(padding, 1, 0.5);	
					}
				}
			}
		}
		&.secondary {
			background: #e5e5e5;
			@include font-size(1.2, 1.4);
			@include rems(padding, 0.5, 0);
			li {
				position: relative;
				a {
					color: $blue;	
					@include rems(padding, 0.5, 1);
				}
				ul {
					background: #e5e5e5;
					position: absolute;
					@include rems(top, 3.4);
					left: 0;
					width: auto;
					z-index: 500;
					display: none;
					li {
						display: block;
						text-transform: none;
						float: none;
						a {
							white-space: nowrap;	
						}
					}
				}
			}
		}
	}
}

/* Footer Styles */

footer {
	@include clearfix;
	@include rems(padding-bottom, 5);
	.footer-ad {
		width: 100%;
		@include box;
		@include rems(margin-bottom, 5);
		@include iphone-hide;	
	}
	.footer-partners {
		background: url(images/footer-border.png) top center;	
		@include rems(padding, 1, 0);
		@include rems(margin-bottom, 3);
		text-align: center;
		position: relative;
		h2 {
			display: inline-block;
			@include rems(padding, 2);
			background: #fff;
			color: $red;
			position: absolute;
			@include rems(top, -3);
			font-weight: 800;
			text-transform: uppercase;
			@include font-size(3, 3.4);	
			left: 50%;
			@include rems(margin-left, -10);
			@include box;
			@include rems(width, 20);
			@media #{$iphone} {
				@include rems(padding, 0, 1);
				@include rems(top, -1);	
			}
		}
		.partners {
			background: #fff;
			@include rems(padding, 2, 0, 1);
			ul {
				text-align: center;
				li {
					display: inline-block;
					@include rems(padding, 0, 1);
					@include box;
					width: 20%;
					@include rems(max-width, 16);
					@include font-size(1.2, 1.8);
					@media #{$ipad} {
						width: 18%;	
					}
					@include full-width;
					@media #{$iphone} {
						max-width: auto
					}
				}
			}
		}
	}
	.footer-main {
		@include clearfix;
		aside {
			@include rems(margin-right, 4);
			@include font-size(1.2, 1.4);
			@media #{$ipad} {
				@include rowMachine(4, 1%);
				@include font-size(1, 1.3);	
			}
			@include full-width;
			h2 {
				color: $red;
				@include font-size(1.4, 1.6);	
				@include rems(margin-bottom, 1);
				text-transform: uppercase;
				font-weight: 700;
				@media #{$ipad} {
					@include font-size(1.1, 1.3);	
				}
			}
			ul {
				li {
					@include rems(margin-bottom, 0.5);	
					a {
						color: #4d4d4d;	
					}
					span {
						font-weight: 700;
						color: $red;
						@media #{$ipad} {
							display: none;	
						}
					}
				}
			}
			&.contact-info {
				float: right;
				margin-right: 0;
				img {
					@include rems(max-width, 12);	
					@include rems(margin-bottom, 1);
				}
				address {
					font-style: normal;	
					@include rems(margin-bottom, 0.5);	
				}
				li {
					margin-bottom: 0;	
				}
				.footer-socials {
					@include rems(margin-top, 1);
					i {
						@include rems(margin-right, 1);	
					}
				}
			}
		}
	}
}

/* Home Styles */

.home-slider {
	position: relative;
	background: $blue;
	@include rems(height, 34.3);
	@include rems(margin-top, 4);
	overflow: hidden;
	margin-right: 4%;
	width: 74%;
	@media #{$ipad} {
		width: 100%;	
		height: auto;
		margin-bottom: 5%;
	}
	.bx-pager {
		position: absolute;
		@include rems(top, 3);
		@include rems(right, 3);
		@include full-width;
		@include rems(padding, 1, 0);
		@media #{$iphone} {
			top: 0;
			right: 0;	
			text-align: center;
		}
		.bx-pager-item {
			float: left;
			@include rems(margin-left, 1);
			@media #{$iphone} {
				float: none;
				display: inline-block;	
			}
			a {
				display: block;
				@include rems(width, 1);
				@include rems(height, 1);
				background: #fff;
				@include border-radius(50%);
				text-indent: -10000px;
				&.active {
					background: $red;	
				}
			}
		}
	}
	.bx-next, .bx-prev {
		display: block;
		@include rems(width, 3);
		@include rems(height, 8);
		text-indent: -10000px;
		position: absolute;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		top: 50%;
		@include rems(margin-top, -4);
		@include opacity(0.7);
		@include iphone-hide;
		&:hover {
			@include opacity(1);	
		}
	}
	.bx-next {
		@include rems(right, 1);
		background-image: url(images/arrows_02.png);
	}
	.bx-prev {
		left: 33%;
		background-image: url(images/arrows_01.png);
	}
	li {	
		@include clearfix;
		aside.slide-content {
			width: 32%;
			@include box;
			@include rems(padding, 3, 3, 0);
			color: #fff;
			@include clearfix;
			@include full-width;
			@media #{$iphone} {
				@include rems(padding, 3);	
			}
			h2 {
				@include font-size(2.2, 2.4);
				font-weight: 300;	
				@include rems(margin-bottom, 1.5);
			}
			.title-clip {
				overflow: hidden;
				@include rems(max-height, 7.2);
				@include rems(margin-bottom, 1.5);	
				@media #{$ipad} {
					display: none;	
				}
			}
			a.read-more {
				background: $red;
				display: block;
				color: #fff;
				text-decoration: none;
				@include rems(padding, 1, 1.5);
				float: left;	
			}
		}
		aside.slide-image {
			width: 68%;
			text-align: right;
			img {
				display:block;	
			}
			@include full-width;
		}
	}
}
table {
	border: none!important;
	width: 100%;
	@include rems(margin-bottom, 1.5);
	tr {
		td {
			@include rems(padding, 1);
			vertical-align: top;	
		}
	}
	&.variations {
		tr {
			td {
				@include rems(padding, 0.5, 0);	
				vertical-align: middle;
			}
		}
	}
}
.home-sidebar {
	width: 22%;
	@include rems(margin-top, 4);
	@media #{$ipad} {
		display: none;	
	}
	img {
		margin-bottom: 15%;	
	}
}
.home-split {
	@include clearfix;
	aside {
		@include rowMachine(2, 4%);	
		@include full-width;
	}
}
.home-content {
	@include clearfix;
	aside {
		@include rowMachine(3, 4%);	
		@include box;
		@include clearfix;
		@media #{$ipad} {
			&:first-child {
				width: 100%;	
			}
			&:nth-child(2), &:nth-child(3) {
				width: 48%;	
				@include full-width;
			}
		}
		form {
			@include clearfix;
			@include rems(padding-top, 1);
			label {
				float: left;
				display: block;
				width: 20%;
				margin-right: 5%;
				@include rems(padding, 1, 0);
				clear: left;
				@include rems(margin-bottom, 0.5);
			}
			input[type="text"] {
				float: left;
				width: 75%;
				display: block;
				@include box;
				@include rems(padding, 1);
				@include font-size(2, 2.4);
				background: #e5e5e5;
				color: $blue;
				font-family: 'Open Sans', sans-serif;
				border: none;
				@include rems(margin-bottom, 0.5);	
			}
			input[type="submit"] {
				background: $red;
				color: #fff;
				font-family: 'Open Sans', sans-serif;
				border: none;
				-webkit-appearance: none;
				float: right;
				@include rems(padding, 1, 1.5);	
				text-transform: uppercase;
				cursor: pointer;
			}
		}
	}
}

/* Post Content */

#post-content {
	width: 65%;
	margin-right: 3.5%;	
	@include rems(padding, 4, 0);
	@include box;
	@include full-width;
	.addthis_sharing_toolbox {
		@include rems(margin-bottom, 1.5);	
	}
	img, h2, h3, ul {
		@include rems(margin-bottom, 1.5);	
	}
	ul {
		@include rems(margin-left, 3);
		li {
			list-style: disc;
		}
		&.club-listings, &.gform_fields {
			margin-left: 0;
			li {
				list-style: none;	
			}
		}
	}
	ol {
		@include rems(margin-left, 3);
		li {
			list-style: decimal;	
		}
	}
}
#full-width, #tribe-events {
	width: 100%;	
	@include rems(padding, 4, 0);
	@include box;
	.addthis_sharing_toolbox {
		@include rems(margin-bottom, 1.5);	
	}
	img, h2, h3, ul {
		@include rems(margin-bottom, 1.5);	
	}
	ul {
		@include rems(margin-left, 3);
		li {
			list-style: disc;
		}
	}
	table {
		border: none!important;
		width: 100%;
		tr {
			td {
				@include rems(padding, 1);
			}
		}
	}
}
.column-area {
	@include clearfix;
	aside {
		&.col1of3 {
			@include rowMachine(3, 4%);	
		}
		&.col1of2 {
			@include rowMachine(2, 4%);	
		}
	}
}
h1 {
	&.post-title, &.page-title {
		color: $blue;
		font-weight: 300;
		@include font-size(3.5, 4);
		@include rems(margin-bottom, 1.5);	
	}
	&.product_title {
		color: $blue;
		font-weight: 300;
		@include font-size(3.5, 4);	
	}
}
#post-sidebar {
	width: 31.5%;
	@include rems(padding, 4, 0);
	@include box;	
	.widget {
		@include rems(margin-bottom, 4);	
	}
	@include full-width;
}

/* News Styles */

.news, .category {
	article {
		@include clearfix;	
		&.feature-post {
			@include rems(margin-bottom, 2.5);	
		}
		&.standard-post {
			float: left;
			@include rowMachine(2, 5%);	
			.title-clip {
				overflow: hidden;
				@include rems(height, 4.5);
				@include rems(margin-bottom, 1);
				h2 {
					@include font-size(2, 2.2);	
					margin-bottom: 0;
				}
			}
			aside {
				width: 50%;	
				@include box;
				&:last-child {
					@include rems(padding-left, 2);	
				}
			}
		}
		h2 {
			color: $blue;
			font-weight: 300;	
			@include font-size(2.8, 3);
			@include rems(margin-bottom, 1);
			a {
				color: $blue;
				text-decoration: none;	
			}
		}
		.excerpt-clip {
			overflow: hidden;
			@include rems(height, 5.4);	
			@include rems(margin-bottom, 1.5);
		}
		span {
			color: $red;
			display: block;
			@include rems(margin-bottom, 1);	
		}
		.read-more {
			@include rems(padding, 0.5, 1);
			background: $red;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			display: block;
			float: left;	
		}
	}
	.all-posts {
		@include clearfix;	
	}
	.page-nav {
		float: right;
		@include clearfix;
		span {
			float: left;	
			@include rems(margin-left, 1);
			a {
				display: block;
				background: #e5e5e5;
				@include rems(padding, 0.5, 1);
				color: #4a4a4a;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
}
.category {
	article {
		@include rems(padding, 2);
		background: #ededed;	
	}
}

/* Widget Styles */

.widget {
	color: $blue;
	@include font-size(2, 2.4);
	font-weight: 300;
	a {
		color: $red;
		text-decoration: none;	
	}
	h2 {
		color: $red;
		text-transform: uppercase;
		font-weight: 800;
		@include font-size(3, 3.4);	
		@include rems(margin-bottom, 1);
	}
	.rstw_link_user {
		position: relative;
		display: block;
		@include rems(margin-top, 2.5);
		&:after {
			color: $blue;
			content: "\f099";
			font-family: 'FontAwesome';
			position: absolute;	
			right: 0;
			@include rems(bottom, -1);
			@include font-size(6, 6);
		}
	}
	.countdown_row {
		@include clearfix;
		padding: 0;
		.countdown_section {
			color: #fff;
			font-weight: 100;
			background: $red;
			@include border-radius(5px);
			display: block;
			@include box;
			@include rems(padding, 1);
			float: left;
			@include rowMachine(4, 2%);
			@media #{$ipad} {
				width: 100%;	
			}
			.countdown_amount {
				font-weight: 800;		
			}
		}
	}
}

/* Form Styles */

select {
	@include box;
	background: url(images/select-arrow.png) center right no-repeat #ededed;
	color: $blue;
	@include rems(height, 3);
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	@include rems(padding, 0, 5, 0, 1)
}
input[type="button"] {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	display: block;
	cursor: pointer;
	&.plus, &.minus {	
		width: 30px;
		height: 30px;
		text-indent: -10000px;
		float: left;
	}
	&.plus {
		background: url(images/basket-ui_01.png) center center no-repeat;	
	}
	&.minus {
		background: url(images/basket-ui_02.png) center center no-repeat;		
	}
}
button[type="submit"], input[type="submit"] {
	background: $red;
	color: #fff;
	clear: both;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	@include rems(padding, 0, 1.5);	
	@include font-size(2, 3);
}
input[type="text"], input[type="email"], input[type="number"], textarea, input[type="password"] {
	@include box;
	@include rems(height, 3);
	@include rems(padding, 0, 1);	
	@include font-size(2, 3);
	font-family: 'Open Sans', sans-serif;
	color: $blue;
	border: none;
	border-radius: 0;
	background: #ededed;
	&.qty {
		float: left;
		@include rems(width, 11);
		@include rems(margin, 0, 0.5);	
	}
}


/* Shop Styles */

.demo_store {
	position: fixed;
	display: none;
	z-index: 2000;
	background: $blue;
	color: #fff;
	@include font-size(2, 2.4);
	@include rems(padding, 2);
	margin: 0 auto;
	top: 50%;
	width: 100%;
	text-align: center;
}

.woocommerce-content {
	@include rems(padding, 4, 0);
	.woocommerce {
		padding: 0;	
	}
}
.woocommerce {
	@include clearfix;
	@include rems(padding, 4, 0);
	.col2-set {
		@include clearfix;
		.col-1, .col-2{
			width: 47.5%;
			float: left;
			@include full-width;
		}
		.col-1 {
			margin-right: 5%;
			@media #{$iphone} {
				margin-right: 0;	
			}
		}
	}
	h2 {
		color: $blue;
		@include rems(margin-bottom, 1);	
	}
	form {
		width: 100%;
		&.woocommerce-ordering {
			width: auto;	
		}
		&.checkout {
			width: 100%;	
		}
		.chosen-container {
			width: 100%!important;	
		}
		p {
			label {
				display: block;	
			}
			input, textarea {
				width: 100%;
			}
			textarea {
				@include rems(height, 9);	
			}
		}	
	}
	.woocommerce-message {
		background: $red;
		@include clearfix;
		color: #fff;
		@include rems(padding, 1);
		@include rems(margin-bottom, 2);
		a {
			float: right;
			color: #fff;
			text-decoration: none;
			&:before {
				content: "\f07a ";
				font-family: 'FontAwesome';	
				@include rems(margin-right, 0.5);
			}
		}	
	}
	.woocommerce-result-count {
		float: left;
		display: block;
	}
	.woocommerce-ordering {
		float: right;	
		display: block;
		@include rems(margin-top, -0.6);
	}
	.products {
		@include clearfix;
		clear: both;
		border-top: 1px solid $blue;
		@include rems(margin-top, 2);
		@include rems(padding-top, 2);
		li {
			@include rowMachine(3, 2%);
			float: left;
			display: block;	
			text-align: center;
			position: relative;
			@include full-width;
			&.products {
				clear: none;
				margin-top: 0;
				padding-top: 0;
				border-top: none;	
			}
			.star-rating {
				display: none;	
			}
			a {	
				color: $blue;
				text-decoration: none;
				&.button {
					display: block;
					width: 60%;
					margin: 10px 20%;
					margin: 1rem 20%;
					background: $red;
					color: #fff;
					@include box;
					@include rems(padding, 1);	
					&:hover {
						@include opacity(0.8);	
					}
				}
				img {				
					@include box;		
					@include border-radius(2px);
					border: 1px solid #dadada;	
				}
			}
		}
	}
	.page-numbers {
		float: right;
		li {
			float: left;
			@include rems(margin-left, 0.5);
			a, span {
				display: block;
				@include rems(padding, 0, 0.5);
				color: #fff;	
			}
			a {
				background: $red;
				text-decoration: none;	
			}
			span {
				background: $blue;	
			}
		}
	}
	.onsale {
		position: absolute;
		top: 0;
		left: 0;
		width: 87px;
		height: 88px;
		background: url(images/sale-message.png) top left no-repeat;	
		text-indent: -10000px;
	}
	.product {
		position: relative;	
	}
	.images {
		float: left;
		width: 30%!important;	
		margin-right: 5%;
		@include full-width;
		@include box;
		@include border-radius(2px);
		border: 1px solid #dadada;
		img {
			display: block;
			margin-bottom: 0!important;	
		}
		.thumbnails {
			a {
				@include rowMachine(4, 2%);
				float: left;
				display: block;	
			}
		}
	}
	.summary {
		width: 55%;
		float: left;	
		@include clearfix;
		@include full-width;
		form {
			@include clearfix;
			@include rems(padding, 1.5, 0);
			table {
				@include rems(margin-bottom, 0.5);
				td {
					&:nth-child(2n) {
						@include rems(padding, 0.5, 1);	
					}
				}	
			}
			button[type="submit"] {
				float: left;
				clear: both;	
				@include rems(margin-top, 1.5);
			}
		}
		.price {
			color: $red;
			@include font-size(2, 2.4);	
		}
		.product_meta {
			clear: both;	
		}
		a {
			color: $blue;	
			text-decoration: none;
		}
	}
	.woocommerce-tabs {
		@include rems(padding-top, 2);
		clear: both;	
		.tabs {
			@include clearfix;
			border-bottom: 1px solid $blue;
			@include rems(margin-bottom, 2);
			@include box;
			margin-left: 0!important;
			li {
				display: block;
				float: left;
				@include rems(padding, 0, 1, 0.5);
				border-left: 1px solid $blue;	
				@include box;
				width: auto;
				margin: 0!important;
				&:first-child {
					padding-left: 0;
					border-left: none;	
				}
				&.active {
					a {
						color: $red;
						font-weight: bold;	
					}
				}
				a {
					color: $blue;
					text-decoration: none;	
				}
			}
		}
		h2 {
			@include rems(margin-bottom, 1.5);	
		}
		.comment_container {
			@include clearfix;
			@include rems(margin-bottom, 1.5);
			@include rems(padding-bottom, 1.5);
			border-bottom: 1px solid $red;
			img {
				float: left;
				margin-right: 5%;	
				width: 8%;
			}
			.comment-text {
				width: 87%;
				float: left;	
			}
		}
		.comment-respond {
			h3 {
				@include rems(margin-bottom, 1.5);	
			}
			.comment-form-author, .comment-form-email {
				@include clearfix;
				@include rems(margin-bottom, 0.5);
				label {
					width: 8%;	
					display: block;
					float: left;
					@include font-size(1.4, 3);
				}
				input {
					width: 92%;	
					float: left;
				}
			}
			.stars {
				@include clearfix;
				@include rems(padding, 0.5, 0);
				a {
					float: left;
					display: block;
					color: #fff;
					text-decoration: none;
					background: $blue;
					@include rems(padding, 0.3, 0.5);
					@include rems(margin-right, 0.5);	
					&.active {
						background: $red;	
					}
				}
			}
			.comment-form-comment {
				label {
					display: block;	
					@include rems(margin-bottom, 0.5);
				}
				textarea {
					width: 100%;
					@include rems(height, 21);	
				}
			}
		}
	}
	.shop_table {
		width: 47.5%;
		&.cart {
			width: 100%;	
			tr {
				td {
					padding: 0;	
				}
			}
		}
		thead {
			tr {
				background: $blue;
				color: #fff;
				th {
					@include rems(padding, 1);	
				}
			}
		}
		tfoot {
			tr {
				th {
					@include rems(padding, 1);
					text-align: right;	
				}
				td {
					text-align: left;
					@include rems(padding, 1);	
				}
			}
			border-bottom: 2px solid $blue;
		}
		tr {
			background: #fff;
			&.cart_item {
				@include rems(padding, 1, 0);
				border-bottom: 1px solid $blue;
			}
			td {
				text-align: center;
				@include rems(padding, 1);
				img {
					display: block;
					@include rems(max-width, 9);
					@include rems(max-height, 9);
				}
				a {
					color: $blue;
					text-decoration: none;
					&.remove {
						width: 30px;
						height: 30px;
						text-indent: -10000px;
						float: left;
						background: url(images/basket-ui_03.png) center center no-repeat;
					}
				}
				&.product-quantity {
					@include clearfix;
					.quantity {
						display: inline-block;
						margin: 0 auto;	
					}
				}
				.coupon {
					float: right;
					@include rems(padding, 1, 0);	
					input[type="submit"] {
						float: none;
						clear: none;	
						margin-bottom: 0;
					}
				}
				input[type="submit"] {
					float: right;
					clear: right;
					@include rems(margin-bottom, 1);	
				}
			}
		}
	}
	.cart-collaterals {
		@include clearfix;
		@include rems(margin-bottom, 2);
		.cross-sells {
			display: none;	
		}
		.cart_totals  {
			float: right;
			h2 {
				background: $blue;
				color: #fff;
				@include rems(padding, 1);	
			}
			table {
				tr {
					@include rems(padding, 1, 0);
					background: #eee;
					border-bottom: 2px solid #fff;
					th {
						text-align: right;
						@include rems(padding, 1);	
					}
					td {
						@include rems(padding, 1);	
					}
				}
			}
		}
		form {
			display: none;
		}
	}
	.woocommerce-info {
		background: $blue;
		@include rems(padding, 1);
		color: #fff;
		@include clearfix;
		@include rems(margin-bottom, 2);
		a {
			color: #fff;	
		}
	}
	form {
		&.checkout_coupon {
			p {
				float: left;	
			}
		}
	}
	h3 {
		color: $blue;
		@include rems(margin-bottom, 1.5);	
	}
	#payment {
		@include clearfix;
		@include rems(padding, 2, 0, 0);
		img {
			display: none;	
		}
		.payment_box {
			@include rems(margin-bottom, 0.5);
			p {
				@include rems(padding-left, 2);	
			}
		}
		input[type="submit"] {
			@include rems(margin-top, 2);	
		}
	}
}
/* Club Registration Form */

.gform_validation_container {
	display: none;	
}
#field_2_1 {
	.gfield_label {
		display: none;	
	}
	li {
		@include rems(margin-bottom, 2);
		input {
			@include rems(margin-right, 1);	
		}
	}
}
#field_4_1 {
	@include clearfix;
	@include rems(margin-bottom, 1.5);
	label {
		float: left;	
		@include font-size(1.4, 3);
		@include rems(margin-right, 1);
		display: block;
		@include rems(width, 12.1);
	}
	.ginput_container {
		float: left;	
		display: block;
		@include rems(width, 16.6);
		select {
			width: 100%;	
		}
	}
}
a {
	&.reset_variations {
		display: none!important;	
	}
}
#gform_fields_1, #gform_fields_11 {
	h3 {
		color: $red;	
	}
	li {
		width: 47.5%;
		@include rems(margin-bottom, 1.5);
		display: block;
		input, textarea, select {
			width: 100%;	
		}
		label {
			display: block;
			@include rems(margin-bottom, 0.5);
			color: $blue;	
		}
		textarea {
			height: 200px;	
		}
		&.full-width {
			width: 100%;	
		}
		&.split-left {
			float: left;	
		}
		&.split-right {
			float: right;	
			clear: none;
		}
		ul {
			li {
				margin-bottom: 0;
				input {
					width: auto;
					@include rems(margin-right, 1);	
				}
				label {
					display: inline;
					margin-bottom: 0;
					color: #4d4d4d;	
				}
			}
		}
	}
}

/* Events Calendar */

#tribe-events-pg-template {
	width: 90%;
	max-width: 1160px!important;
	.tribe-events-back {
		@include rems(margin, 4, 0, 0);	
	}
	h2 {
		@include rems(margin-bottom, 1.5);
		&.tribe-events-single-event-title {
			color: $blue;
			font-weight: 300;
			@include font-size(3.5, 4);
			@include rems(margin-bottom, 1.5);	
		}
	}
	.tribe-events-button {
		background: $red!important;
		color: #fff;
		&:hover {
			@include opacity(0.8);
			color: #fff!important;	
		}
	}
	.tribe-events-cal-links {
		@include clearfix;
		a {
			float: left!important;
			@include rems(margin, 0, 1, 0, 0);
			clear: none;	
		}
	}
}
/* Events Single Page */
#tribe-events {
	.tribe-events-single {
		#post-content, #post-sidebar {
			@include rems(padding, 0, 0, 4);	
		}
		.tribe-events-event-meta {
			width: 100%;
			.tribe-events-meta-group {
				padding: 0!important;
				width: 100%;
				dl {
					dt {
						float: left;
						color: $blue;
						font-weight: 700;
						clear: left;
						@include rems(margin-right, 1);	
					}
					dd {
						float: left;	
						&.author {
							color: $blue;
							@include rems(margin-right, 1);	
							font-weight: 700;
						}
						&.location {
							clear: left;	
						}
					}
				}
			}
		}
		form {
			clear: both;	
			table {
				tr {
					&:first-child {
						background: #ededed!important;
						color: #4d4d4d!important;	
					}
				}
			}
			input[type="number"] {
				background: #fff;
			}
		}
	}
}

/* Login Area */

.lightbox-overlay {
	display: none;
	.product-cat-membership & {
		&#member-register {
			display: block;
			form {
				padding: 0;
			}
		}
	}
	.lightbox-bg {
		width: 100%;
		min-height: 100%;
		background: rgba(0,0,0,0.5);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 500;
		display: table;
		.lightbox-container {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			.close-button {
				&.icon {
					position: absolute;
					@include rems(top, 2);	
					left: 50%;
					@include rems(margin-left, 30);
					z-index: 3000;
				}
			}
			.bwl-login, .registration-form {
				@include rems(max-width, 60);
				width: 90%;
				margin: 0 auto;
				background: #fff;
				@include box;
				@include rems(padding, 4);				
				-webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.4);
				box-shadow: 0 0 30px 0 rgba(0,0,0,0.4);
				@include clearfix;
				position: relative;
				@include rems(max-height, 50);
				overflow: auto;
				input[type="text"], input[type="password"] {
					width: 100%;	
				}
				.upme-inner {
					border: none!important;
					box-shadow: none!important;
					.upme-widget-head {
						display: none;	
					}
					.upme-widget-main {
						@include rems(padding, 2, 0, 0);
						@include clearfix;
						label {
							float: left;
							display: block;
							@include rems(padding-top, 0.5);
							&.upme-widget-link-separator {
								float: none;
								display: inline-block;	
							}
						}
						input[type="text"], input[type="password"] {
							width: 93%!important;
							border: none!important;
							box-shadow: none!important;
							background: #ededed!important;	
							@include border-radius(0);
							float: right;
						}
						input[type="submit"], input[type="button"] {
							background: $red!important;
							color: #fff!important;
							font-family: 'Open Sans', sans-serif!important;
							border: none!important;
							-webkit-appearance: none!important;
							float: right!important;
							@include rems(padding, 1, 1.5);	
							text-transform: uppercase!important;
							cursor: pointer!important;
							@include border-radius(0);
						}
					}
				}
				#login-options {
					text-align: center;
					@include rems(margin-top, 2);
					li {
						display: inline-block;
						@include rems(padding, 1);	
					}
				}
			}
			#wizard-close {
				position: absolute;
				@include rems(top, -0.6);
				@include rems(right, -0.6);
				color: $blue;
				@include font-size(3,3);	
			}
			form {
				@include rems(padding, 2, 0, 0);
				aside {
					width: 100%;	
				}
			}
		}
	}
}

/* Splash Page */

.splash-content {
	@include rems(margin, 60, 0, 5);
	@include clearfix;
	.splash-main {
		width: 70%;
		margin-right: 5%;	
		h1 {
			text-transform: uppercase;
			@include font-size(3, 3.4);
			font-weight: 700;
		}	
		@include font-size(3, 3.4);
	}
	.splash-buttons {
		width: 25%;
		a {
			display: block;
			width: 100%;
			text-align: center;
			color: #fff;
			@include rems(padding, 1);
			@include box;
			background: $red;
			@include rems(margin-bottom, 2);
			@include font-size(2.6, 3);
			text-transform: uppercase;
			&:last-child {
				background: $blue;	
			}
		}
	}
}

/* Club Finder Styles */

.club-listings {
	@include clearfix;
	@include rems(padding, 2, 0);
	li {
		@include clearfix;
		@include rems(margin-bottom, 1.5);
		@include rems(padding-bottom, 1.5);
		border-bottom: 1px solid $blue;
		&:last-child {
			border-bottom: none;	
		}
		h2 {
			color: $blue;
			@include rems(margin-bottom, 1.5);	
		}
		aside {
			&.map {
				@include rems(margin-right, 2);	
			}
			&.club-overview {
				@include clearfix;
				a {
					&.read-more {
						background: $red;
						display: block;
						color: #fff;
						text-decoration: none;
						@include rems(padding, 1, 1.5);
						float: left;
						@include rems(margin-top, 1.5);		
					}
				}
			}
		}
	}
}
.club-page {
	h2 {
		color: $blue;
		font-weight: 300;	
		@include font-size(2.8, 3);
		@include rems(margin-bottom, 1.5);
	}
	h3 {
		color: $red;
		font-weight: 300;	
		@include font-size(1.8, 2);
		@include rems(margin-bottom, 0.5);	
	}
	aside {
		&.map {
			@include rems(margin-right, 2);
			a {
				display: block;	
			}
		}
	}
	section {
		@include clearfix;
		@include rems(padding-bottom, 2);
		@include rems(margin-bottom, 2);
		border-bottom: 1px solid $blue;	
		&:last-child {
			border-bottom: none;	
		}
		&.facilities {
			div {
				aside {
					width: 32%;
					&.double {
						width: 66%;
						margin-right: 2%;	
					}
					ul {
						@include rems(margin-bottom, 1);	
					}
				}
			}
		}
	}
}
.tribe-events-calendar {
	font-family: 'Open Sans', sans-serif!important;
	td {
		h3 {
			padding: 10px!important;	
			padding: 1rem!important;
		}
	}
}

/* Strength & Power Series */

#entry-trigger {
	@include rems(padding, 1);
	background: $red;
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	&.hidden {
		display: none;
	}
}
#gform_fields_4 {
	h3 {
		color: $red;	
	}
	li {
		label {
			display: block;
			@include rems(margin-bottom, 0.5);
			color: $blue;	
		}
		ul {
			li {
				margin-bottom: 0;
				input {
					width: auto;
					@include rems(margin-right, 1);	
				}
				label {
					display: inline;
					margin-bottom: 0;
					color: #4d4d4d;	
				}
			}
		}
	}
}
.strength-power-tables {
	h2 {
		color: $red;
		@include font-size(2.4, 3);
		@include rems(margin-bottom, 3);
	}
	.strength-table {
		th {
			background: $blue;
			color: #fff;
			@include rems(padding, 1);
		}
	}
}
.strength-power-tabs {
	@include box;
	border-bottom: 1px solid $blue;
	@include rems(padding-top, 2);
	clear: both;
	@include clearfix;
	@include rems(margin-bottom, 3);
	li {
		float: left;
		padding: 0;
		border-right: 1px solid $blue;
		@include rems(margin-bottom, -0.1);
		a {
			@include rems(padding, 0.5, 1);
			border-bottom: 1px solid $blue;
			display: block;
			&.active {
				border-bottom: 1px solid #fff;
			}
		}
	}
}