.accordion-trigger {
	@include border-radius(4px);
	background: $red;
	color: #fff;
	display: block;
	@include rems(padding, 0.5, 1);
	@include clearfix;
	@include rems(margin-bottom, 1);
	&:after {
		float: right;
		@include icon;
		content: "\f107";
	}
	&.active {
		content: "\f106";
	}
	&:last-of-type {
		margin-bottom: 0;
	}
}
.accordion-content {
	@include rems(padding, 1.5, 0, 0);
	@include clearfix;
	display: none;
	input[type=submit] {
		float: right;
	}
	h2 {
		display: none;
	}
	.upme-widget-head {
		display: none;
	}
	.upme-widget-main {
		padding: 0!important;;
	}
	&.open {
		display: block;
	}
}
