article {
	@include clearfix;
	&.feature-post, &.standard-post {
		background: $grey;
		span {
			color: $red;
			@include font-size(1.2, 1.6);
			display: block;
			@include rems(padding, 0, 1.5);
		}
		.excerpt-clip {
			overflow: hidden;
			@include rems(height, 6);
			@include rems(padding, 0, 1.5);
			@include rems(margin-bottom, 1.5);
		}
		.read-more {
			float: right;
			@include rems(margin, 0, 1.5, 1.5);
		}
	}
	h2 {
		a {
			color: $blue;
			text-decoration: none;
		}
	}
	&.feature-post {
		width: 100%;
		@include rems(margin-bottom, 2);
		background: $grey;
		img {
			@include rems(margin-bottom, 1.5);
		}
		h2 {
			@include rems(padding, 0, 1.5);
			@include rems(margin-bottom, 1.5);
		}
	}
	&.standard-post {
		float: left;
		@include rowMachine(2, 2%);
		@media #{$phone} {
			@include rowMachine(1, 5%);
		}
		.feature-clip {
			overflow: hidden;
			@include rems(margin-bottom, 1.5);
			@include rems(max-height, 18);
		}
		.title-clip {
			overflow: hidden;
			@include rems(padding, 0, 1.5);
			@include rems(margin-bottom, 1.5);
			@include rems(height, 7.2);
		}
		span {
			color: $red;
			@include font-size(1.2, 1.6);
			display: block;
			@include rems(padding, 0, 1.5);
			//@include rems(margin-bottom, 1.5);
		}
		.excerpt-clip {
			overflow: hidden;
			@include rems(height, 8);
			@include rems(padding, 0, 1.5);
			@include rems(margin-bottom, 1.5);
		}
	}
}
.single-feature {
	@include clearfix;
	@include rems(margin-bottom, 2);
	img {
		display: block;
	}
	.post-meta {
		background: $blue;
		@include rems(padding, 1.5);
		@include clearfix;
		aside {
			color: #fff;
			width: 50%;
			@include clearfix;
			ul {
				margin: 0!important;
				li {
					background: none!important;
					padding-left: 0!important;
				}
			}
			@media #{$phone} {
				width: 100%;
			}
			.sharers {
				float: right;
				@include clearfix;
				a {
					color: $blue;
					text-decoration: none;
					background: #fff;
					@include rems(padding, 0.2, 0.5);
					@include font-size(1.2, 1.6);
					display: block;
					float: left;
					@include rems(margin-left, 0.5);
				}
				@media #{$phone} {
					display: none;
				}
			}
		}
	}
}
