form {
	&.club-finder {
		@include clearfix;
		@include rems(margin-bottom, 2);
		input {
			float: left;
			&[type=text] {
				width: 75%;
				margin-right: 1%;
				@media #{$phone} {
					width: 100%;
					margin-right: 0;
					@include rems(margin-bottom, 1);
				}
			}
			&[type=submit] {
				width: 24%;
				@media #{$phone} {
					width: 100%;
				}
			}
		}
	}
}
ul {
	&.club-listings {
		margin: 0!important;
		li {
			@include clearfix;
			@include rems(padding-bottom, 2);
			@include rems(margin-bottom, 2);
			border-bottom: 1px solid $blue;
			background: none!important;
			padding-left: 0!important;
			&:last-child {
				border-bottom: none;
			}
			img {
				display: block;
			}
			h2 {
				@include rems(margin-bottom, 1.5);
			}
			aside {
				@include clearfix;
				&.map {
					width: 50%;
					@media #{$phone} {
						display: none;
					}
				}
				&.club-overview {
					width: 45%;
					margin-left: 5%;
					@media #{$phone} {
						width: 100%;
						margin-left: 0;
					}
					a {
						&.button {
							float: right;
						}
					}
				}
			}
		}
	}
}
.bwl-map {
	@include rems(height, 45);
	@include rems(margin-bottom, 1.5);
	@media #{$tablet} {
		@include rems(height, 20);
	}
}
.club-content {
	section {
		@include clearfix;
		@include rems(padding-bottom, 2);
		@include rems(margin-bottom, 2);
		border-bottom: 1px solid $blue;
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
		}
		h2 {
			@include rems(margin-bottom, 1.5);
		}
		h3 {
			@include rems(margin-bottom, 1);
		}
		p {
			&.address {
				span {
					font-weight: 600;
					color: $red;
				}
			}
		}
	}
}
