.bwl-theme {
	.countdown_row {
		@include clearfix;
		padding: 0;
		@include rems(margin-bottom, 1.5);
		&.countdown_descr {
			@include rems(padding-top, 1.5);
		}
		.countdown_section {
			color: #fff;
			font-weight: 100;
			background: $red;
			@include border-radius(5px);
			display: block;
			@include box;
			@include rems(padding, 1);
			float: left;
			@include rowMachine(4, 2%);
			.countdown_amount {
				font-weight: 800;		
			}
		}
	}
	#shailan-countdown-3, .shailan-countdown-3.hasCountdown {
		@include rems(margin-bottom, 1.5);
	}
}
