footer {
	@include clearfix;
	width: 100%;
	@include rems(padding-bottom, 2);
	@include rems(margin-top, 2);
	img {
		display: block;
	}
	.footer-ad {
		width: 100%;
		@include box;
		@include rems(margin-bottom, 5);
		text-align: center;
		img {
			display: inline-block;
		}
		@media #{$phone} {
			display: none;
		}
	}
	.footer-partners {
		background: url(images/footer-border.png) top center;	
		@include rems(padding, 1, 0);
		@include rems(margin-bottom, 3);
		text-align: center;
		position: relative;
		@media #{$phone} {
			background: none;
			border-top: 5px solid $blue;
			border-bottom: 5px solid $blue;
		}
		h2 {
			@include rems(padding, 2);
			background: #fff;
			color: $red;
			position: absolute;
			@include rems(top, -3);
			font-weight: 800;
			text-transform: uppercase;
			@include font-size(3, 3.4);	
			left: 50%;
			@include rems(margin-left, -10);
			@include box;
			@include rems(width, 20);
			@include rems(top, -3);	
			@media #{$phone} {
				display: none;
			}
		}
		.partners {
			background: #fff;
			@include rems(padding, 2, 0);
			@media #{$phone} {
				@include rems(padding, 0, 0, 2);
			}
			ul {
				text-align: center;
				@include clearfix;
				li {
					display: block;
					float: left;
					@include rowMachine(7, 2%);
					@include box;
					@include font-size(1.2, 1.8);
					@media #{$phone} {
						@include rowMachine(2, 2%);
					}
				}
			}
		}
	}
	.footer-main {
		@include clearfix;
		aside {
			@include rems(margin-right, 4);
			@include font-size(1.2, 1.4);
			@media #{$phone} {
				display: none;
			}
			h2 {
				color: $red;
				@include font-size(1.4, 1.6);	
				@include rems(margin-bottom, 1);
				text-transform: uppercase;
				font-weight: 700;
			}
			ul {
				li {
					@include rems(margin-bottom, 0.5);	
					a {
						color: #4d4d4d;	
					}
					span {
						font-weight: 700;
						color: $red;
					}
				}
			}
			&.contact-info {
				float: right;
				margin-right: 0;
				img {
					@include rems(max-width, 12);	
					@include rems(margin-bottom, 1);
					float: left;
				}
				a.button {
					position: fixed;
					@include rems(right, 2);
					@include rems(bottom, 2);
					display: none;
					&:hover {
						opacity: 1;
					}
				}
				address {
					font-style: normal;	
					@include rems(margin-bottom, 0.5);	
				}
				li {
					margin-bottom: 0;	
				}
				.footer-socials {
					@include rems(margin-top, 1);
					i {
						@include rems(margin-right, 1);	
					}
				}
				@media #{$tablet} {
					width: 100%;
					clear: both;
					border-top: 1px solid $blue;
					@include rems(margin-top, 2);
					@include rems(padding-top, 2);
				}
				@media #{$phone} {
					display: block;
					margin-top: 0;
					padding-top: 0;
					border-top: none;
				}
			}
		}
	}
}
