input[type=text], 
input[type=password], 
input[type=email], 
input[type=number], 
textarea {
	display: block;
	@include box;
	width: 100%;
	@include rems(padding, 0.5, 1);
	background: #fff;
	border: 1px solid #ccc;
	@include border-radius(3px);
	@include font-size(1.6, 2);
	font-family: 'Open Sans', sans-serif;
	color: $red;
	outline: none;
	-webkit-appearance: none;
	&:active, &:focus {
		border: 1px solid $blue;
	}
	&.qty {
		width: auto;
		@media #{$phone} {
			width: 100%;
		}
	}
}
select, 
select.gfield_select {
	display: block;
	@include box;
	width: 100%;
	@include rems(padding, 0.5, 4, 0.5, 1);
	background-color: #fff;
	background-size: contain;
	background-position: center right;
	background-image: url('images/arrow-down.png');
	background-repeat: no-repeat;
	-webkit-appearance: none;
	border: 1px solid #ccc;
	@include border-radius(3px);
	@include font-size(1.6, 2);
	font-family: "Open Sans", sans-serif;
	color: $red;
	outline: none;
	&:active, &:focus {
		border: 1px solid $blue;
	}
	@media #{$retina} {
		background-image: url('images/arrow-down@2x.png');
	}
}
input[type=checkbox], 
input[type=radio] {
	@include rems(margin-right, 0.5);
}
label {
	color: $blue;
	@include rems(margin-bottom, 0.5);
	display: block;
	&.checkbox, &[for="payment_method_SagePayCw_SagePay"], &[for="payment_method_paypal"] {
		display: inline-block;
	}
}

/* Email Capture */

.wp-email-capture {
	@include clearfix;
	@include rems(margin-top, 1.5);
	label {
		display: block;
		width: 22%;
		float: left;
		@include rems(padding, 0.5, 1, 0.5, 0);
		clear: both;
		@include box;
	}
	input[type=text], input[type=email] {
		float: right;
		width: 78%;
		@include rems(margin-bottom, 1);
	}
	input[type=submit] {
		float: right;
	}
}

/* UPME */

.bwl-theme {
	input.upme-input, 
	select.upme-input, 
	textarea.upme-input {
		background-color: #fff;
		&:focus {
			box-shadow: none;
		}
	}
	select.upme-input {
		background-size: contain;
		background-position: center right;
		background-image: url('images/arrow-down.png');
		background-repeat: no-repeat;
		&:focus {
			background-size: contain;
			background-position: center right;
			background-image: url('images/arrow-down.png');
			background-repeat: no-repeat;
			box-shadow: none;
		}
	}
}

/* Gravity Forms Overrides */

.bwl-theme {
	.gform_wrapper select, 
	.gform_wrapper input[type=text], 
	.gform_wrapper input[type=url], 
	.gform_wrapper input[type=email], 
	.gform_wrapper input[type=tel], 
	.gform_wrapper input[type=number], 
	.gform_wrapper input[type=password] {
		@include font-size(1.6, 
			2);
		@include rems(padding, 0.5, 4, 0.5, 1);
	}
	.gform_wrapper .top_label input.medium, 
	.gform_wrapper .top_label select.medium,
	.gform_wrapper .top_label input.large, 
	.gform_wrapper .top_label select.large, 
	.gform_wrapper .top_label textarea.textarea {
		width: 100%;
	}
	.gform_wrapper .description, 
	.gform_wrapper .gfield_description, 
	.gform_wrapper .gsection_description, 
	.gform_wrapper .instruction {
		@include font-size(1.2, 1.6);
		font-family: 'Open Sans', sans-serif;
	}
	.gform_wrapper .gform_footer {
		padding: 0;
		margin: 0;
	}
	.gform_wrapper .top_label .gfield_label {
		font-weight: 300;
	}
	.gform_wrapper .gfield_required {
		color: $red;
	}
	.gform_wrapper .ginput_complex {
		@include clearfix;
	}
	.gform_wrapper .ginput_complex input[type=text], 
	.gform_wrapper .ginput_complex input[type=url], 
	.gform_wrapper .ginput_complex input[type=email], 
	.gform_wrapper .ginput_complex input[type=tel], 
	.gform_wrapper .ginput_complex input[type=number], 
	.gform_wrapper .ginput_complex input[type=password], 
	.gform_wrapper .ginput_complex select,
	.gform_wrapper .ginput_complex .ginput_right input[type=text], 
	.gform_wrapper .ginput_complex .ginput_right input[type=url], 
	.gform_wrapper .ginput_complex .ginput_right input[type=email], 
	.gform_wrapper .ginput_complex .ginput_right input[type=tel], 
	.gform_wrapper .ginput_complex .ginput_right input[type=number], 
	.gform_wrapper .ginput_complex .ginput_right input[type=password], 
	.gform_wrapper .ginput_complex .ginput_right select {
		width: 100%!important;
	}
	.gform_wrapper .top_label .gfield_label {
		@include rems(margin, 0, 0, 0.5);
	}
	.gform_wrapper .gsection .gfield_label, 
	.gform_wrapper h2.gsection_title, 
	.gform_wrapper h3.gform_title {
		font-weight: 300;
	}
	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit] {
		@include rems(margin-top, 1.5);
	}
	.gform_wrapper {
		margin: 0;
		max-width: 100%;
	}
}
