body {
	background: $blue;
	color: #4d4d4d;
	@include font-size(1.4, 2);
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}
.container, #tribe-events-pg-template {
	width: 96%;
	margin: 0 auto;
	@include rems(max-width, 120);
	@include clearfix;
	@media #{$phone} {
		width: 90%;
	}
}
.page-content {
	background: #fff;
	overflow-x: hidden;
	width: 100%;
	main {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 20;
		background: #fff;
		transition: 0.5s all ease;
		&.fixed-main {
			position: fixed;
			left: 30%;
			right: -30%;
			top: 0;
			@media #{$phone} {
				left: 75%;
				right: -75%;
			}
		}
	}
}
.footer-fix {
	@media #{$tablet} {
		padding-bottom: 0!important;
	}
}
.page-sidebar {
	width: 33%;
	margin-left: 4%;
	@media #{$phone} {
		display: none;
	}
}
.page-main {
	width: 63%;
	@media #{$phone} {
		width: 100%;
		@include rems(margin-bottom, 2);
	}
}

