header {
	@include rems(margin-bottom, 2);
	@media #{$tablet} {
		border-bottom: 5px solid $red;
	}
	.header-meta {
		background: $blue;
		@include rems(padding, 0.5, 0);
		aside {
			@include clearfix;
			width: 50%;
			@media #{$phone} {
				width: 100%;
			}
			ul {
				@include clearfix;
				li {
					float: left;
					a {
						color: #fff;
					}
				}
			}
			&.header-links {
				@include font-size(1.4, 2.6);
				@media #{$laptop} {
					@include font-size(1.2, 2);
				}
				ul {
					li {
						@include rems(margin-right, 1.5);
						font-weight: 700;
						a {
							color: #fff;
							text-decoration: none;
						}
						&.tab-nav-trigger {
							display: none;
							@media #{$tablet} {
								display: block;
								a {
									color: $red;
								}
							}
						}
						&:nth-child(2) {
							a {
								color: $red;
								@media #{$tablet} {
									color: #fff;
								}
							}
						}
					}
				}
			}
			&.header-socials {
				@include font-size(2.6, 2.6);
				@media #{$laptop} {
					@include font-size(2, 2);
				}
				@media #{$phone} {
					display: none;
				}	
				ul {
					float: right;
					li {
						@include rems(margin-left, 0.5);
					}
				}
			}
		}
	}
	.header-main {
		@include rems(padding, 1.5, 0);
		aside {
			&.logo {
				width: 25%;
				margin-right: 5%;
				@include rems(padding, 1.5, 0);
				@media #{$tablet} {
					padding: 0;
				}
				@media #{$phone} {
					width: 100%;
					margin-right: 0;
				}
			}
			&.header-ad {
				width: 70%;
				@include clearfix;
				img {
					display: block;
					float: right;
				}
				@media #{$phone} {
					display: none;
				}
			}
		}
		h1, h2 {
			display: block;
			text-indent: -10000px;
			width: 100%;
			@include rems(height, 7);
			background-size: contain;
			background-image: url('images/logo.png');
			background-position: center left;
			background-repeat: no-repeat;
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			@media #{$tablet} {
				@include rems(height, 6.5);
			}
			@media #{$phone} {
				background-position: center center;
			}
		}
	}
	nav {
		&.header-nav {
			background: $red;
		}
	}
}
