.home-feature {
	@include clearfix;
	@include rems(margin-bottom, 2);
	aside {
		&.home-slider {
			width: 77%;
			margin-right: 2%;
			background: $blue;
			color: #fff;
			position: relative;
			@include rems(max-height, 34.3);
			@media #{$phone} {
				width: 100%;
				@include rems(margin-bottom, 2);
				max-height: 50000px;
			}
			ul {
				li {
					@include clearfix;
					aside {
						&.feature-content {
							@include box;
							@include rems(padding, 2);
							width: 37%;
							@include clearfix;
							@media #{$phone} {
								width: 100%;
							}
							h2 {
								color: #fff;
								@include rems(margin-bottom, 1.5);
								@include rems(max-height, 9.6);
								overflow: hidden;
								@media #{$tablet} {
									@include rems(max-height, 4.8);
								}
								@media #{$phone} {
									@include rems(max-height, 6);
								}
							}
							a {
								&.button {
									float: right;
								}
							}
							.excerpt-clip {
								@include rems(height, 12);
								overflow: hidden;
								@include rems(margin-bottom, 2);
								@media #{$tablet} {
									@include rems(height, 6);
								}
							}
						}
						&.feature-image {
							width: 63%;
							float: right;
							@media #{$phone} {
								width: 100%;
							}
							img {
								display: block;
								float: right;
							}
						}
					}
				}
			}
			.bx-pager {
				position: absolute;
				@include rems(top, 1.5);
				@include rems(right, 1.5);
				@include clearfix;
				@media #{$phone} {
					top: auto;
					right: auto;
					@include rems(bottom, 1.5);
					width: 100%;
					text-align: center;
				}
				.bx-pager-item {
					float: left;
					@include rems(margin-left, 0.5);
					@media #{$phone} {
						float: none;
						display: inline-block;
						@include rems(margin, 0, 0.5);
					}
					a {
						@include rems(width, 1.2);
						@include rems(height, 1.2);
						@include box;
						border: 2px solid $red;
						@include border-radius(50%);
						text-indent: -10000px;
						display: block;
						&.active {
							background: $red;
						}
					}
				}
			}
			.bx-next, .bx-prev {
				@include rems(width, 3);
				@include rems(height, 3);
				text-indent: -10000px;
				display: block;
				position: absolute;
				top: 50%;
				@include rems(margin-top, -1.5);
				background-size: contain;
				@media #{$phone} {
					display: none;
				}
			}
			.bx-next {
				@include rems(right, 1.5);
				background-image: url('images/right.png');
				@media #{$retina} {
					background-image: url('images/right@2x.png');
				}
			}
			.bx-prev {
				left: 37%;
				@include rems(margin-left, 2);
				background-image: url('images/left.png');
				@media #{$retina} {
					background-image: url('images/left@2x.png');
				}
			}
		}
		&.home-sidebar {
			width: 21%;
			@media #{$phone} {
				width: 100%;
			}
			img {
				display: block;
			}
			a {
				display: block;
				@include rems(margin-bottom, 2);
				@media #{$phone} {
					float: left;
					@include rowMachine(2, 5%);
				}
			}
		}
	}
}
.home-split {
	@include clearfix;
	@include rems(margin-bottom, 2);
	aside {
		@include rowMachine(2, 2%);
		@media #{$phone} {
			@include rowMachine(1, 5%);
		}
		img {
			display: block;
			@include rems(margin-bottom, 2);
		}
		&:nth-child(2) {
			float: right;
			@media #{$phone} {
				img {
					margin-bottom: 0;
				}
			}
		}
	}
}
.home-content {
	@include clearfix;
	@include rems(margin-bottom, 2);
	aside {
		@include rowMachine(3, 2%);
		@include clearfix;
		color: $blue;
		@include font-size(2, 2.4);
		font-weight: 100;
		@media #{$phone} {
			&:nth-child(1), &:nth-child(2) {
				display: none;
			}
			@include rowMachine(1, 5%);
			@include rems(margin-bottom, 2);
		}
		h2 {
			@include rems(margin-bottom, 1.5);
			color: $red;
			text-transform: uppercase;
			font-weight: 800;
			@include font-size(3, 3.4);
		}
		.rstw_comma {
			display: none;
		}
		.twitter-timestamp {
			color: $red;
			display: block;
			@include font-size(1.6, 2);
			@include rems(padding-top, 1.5);
		}
	}
}
