nav {
	&.header-nav {
		ul {
			@include clearfix;
			@include font-size(1.6, 2);
			@media #{$laptop} {
				@include font-size(1.4, 2);
			}
			li {
				float: left;
				@include rems(margin-right, 2);
				a {
					color: #fff;
					text-decoration: none;
					@include rems(padding, 1, 0);
					display: block;
				}
				&.current-menu-item, &.current-menu-parent, &.current-menu-ancestor {
					& > a {
						color: $blue;
						font-weight: 600;
					}
				}
				&.menu-item-has-children {
					position: relative;
					ul {
						position: absolute;
						top: 100%;
						@include rems(left, -1);
						background: $red;
						display: none;
						@include rems(padding-bottom, 0.5);
						z-index: 1000;
						@media #{$tablet} {
							@include rems(padding, 0, 0, 0.5);
						}
						li {
							float: none;
							display: block;
							white-space: nowrap;
							margin-right: 0;
							@include clearfix;
							@include rems(padding-right, 2);
							&:before {
								@include icon;
								position: absolute;
								right: 0;
								content: "\f054";
								display: block;
								@include rems(padding, 0.5);
								color: $red;
							}
							&.menu-item-has-children {
								&:before {
									color: #fff;
								}
							}
							ul {
								top: 0;
								left: 100%;
							}
							a {
								@include rems(padding, 0.5, 1);
							}
						}
					}
				}
			}
		}
		@media #{$tablet} {
			display: none;
		}
	}
	&.tablet-nav {
		left: 0;
		z-index: 10;
		width: 30%;
		@include box;
		display: block;
		background: $blue;
		overflow-y: scroll;
		transition: 0.4s all ease;
		position: absolute;
		@media #{$phone} {
			width: 75%;
		}
		ul {
			@include font-size(1.6, 2);
			li {
				border-bottom: 1px solid #2c4b8b;
				font-weight: bold;
				border-right: 5px solid $blue;
				a {
					display: block;
					@include rems(padding, 1);
					color: #fff;
				}
				ul {
					@include rems(padding, 0, 2);
					display: none;
					li {
						border-bottom: none;
						border-right: none;
						font-weight: normal;
						a {
							@include rems(padding, 0.5, 1);
						}
					}
				}
				&.current-menu-item, &.current-menu-parent, &.current-menu-ancestor {
					border-right: 5px solid #2c4b8b;
					& > a {
						color: $red;
					}
					ul {
						display: block;
						li {
							border-right: none;
							ul {
								display: none;
							}
							&.current-menu-item, &.current-menu-parent, &.current-menu-ancestor {
								& > a {
									color: $red;
								}
								ul {
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}
