.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: rgba(0,0,0,0.6);
	display: none;
	.lightbox-container {
		width: 90%;
		@include rems(max-width, 60);
		margin: 0 auto;
		@include rems(margin-top, 6);
		float: none;
		@include border-radius(4px);
		overflow: hidden;
		background: #fff;
		position: relative;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
		.lightbox-close {
			position: absolute;
			@include rems(top, 1.5);
			@include rems(right, 2);
			@include font-size(2.4, 2.4);
		}
		div.upme-widget-wrap {
			label {
				width: 5%;
				margin-right: 2%;
				float: left;
				clear: both;
			}
			.in_sidebar_value {
				width: 93%!important;
				float: left;
			}
		}
		div.upme-widget-wrap div.upme-inner {
			border: none;
			box-shadow: none;
		}
		div.upme-widget-head {
			background: $blue;
			color: #fff;
		}
		div.upme-widget-wrap div.upme-field-name {
			color: #fff;
		}
		h2 {
			&.overlay-head {
				display: block;
				background: $blue;
				color: #fff;
				font-weight: bold;
				@include box;
				@include font-size(1.6, 2.4);
				@include rems(padding, 1.5, 2);
			}
		}
		.overlay-content {
			@include rems(padding, 2);
		}
	}
	&#login {
		h2 {
			display: none;
		}
	}
	&#member-register {
		//display: block;
	}
}

