.container.full-width, .page-main {
	table {
		width: 100%;
		border: none!important;
		td {
			@include rems(padding, 1);
		}
	}
	ul {
		@include rems(margin, 0, 0, 1.5, 2);
		li {
			background: url('images/bullet.png') top left no-repeat;
			@include rems(padding-left, 1.5);
			@include rems(margin-bottom, 0.5);
		}
	}
	h2, h3 {
		@include rems(margin-bottom, 1.5);
	}
}
.column-area {
	@include clearfix;
	@include rems(padding-top, 2);
	aside {
		&.col1of3 {
			@include rowMachine(3, 2%);
			@media #{$phone} {
				@include rowMachine(1, 5%);
			}
		}
		&.col1of2 {
			@include rowMachine(2, 2%);
			@media #{$phone} {
				@include rowMachine(1, 5%);
			}
		}
	}
}
