.pagination, .woocommerce-pagination {
	@include clearfix;
	clear: both;
	ul {
		float: right;
		@include clearfix;
		li {
			float: left;
			@include rems(margin-left, 0.5);
			background: none!important;
			padding-left: 0!important;
			a, span {
				display: block;
				@include rems(padding, 0.5);
				color: #fff;
				text-decoration: none;
				background: $blue;
				@include rems(min-width, 3);
				@include box;
				text-align: center;
			}
			&.active a, span.current {
				background: $red;
				font-weight: 700;
			}
		}
	}
}
.post-nav {
	@include clearfix;
	@include rems(margin-top, 1);
	@include rems(padding-top, 1);
	border-top: 1px solid $grey;
	.post-button {
		&.previous {
			float: left;
		}
		&.next {
			float: right;
		}
		a {
			@include rems(padding, 0.5, 1);
			text-decoration: none;
			display: block;
			transition: 0.4s all ease;
			background: $blue;
			color: #fff;
			&:hover {
				@include opacity(0.8);
				transition: 0.4s all ease;
			}
		}
	}
}
