.bwl-theme {
	div.upme-wrap div.upme-inner {
		@include border-radius(4px);
		border: 1px solid $grey;
		box-shadow: none;
		overflow: hidden;
		@include clearfix;
		.upme-head {
			background: $blue;
			color: #fff;
			div.upme-field-name, div.upme-wrap div.upme-field-name a {
				color: #fff;
			}
			.upme-stats {
				display: none;
			}
		}
		.bwl-theme div.upme-widget-wrap a.upme-button, 
		.bwl-theme input[type=submit].upme-button, 
		.bwl-theme input[type=button].upme-button, 
		.bwl-theme a.upme-button-alt, 
		.bwl-theme div.upme-wrap a.upme-button-alt, 
		.bwl-theme div.upme-wrap div.upme-button-alt, 
		.bwl-theme div.upme-wrap input.upme-button-alt {
			@include rems(padding, 0.5, 1);
			display: block;
			transition: 0.4s all ease;
			@include font-size(2, 2.4);
			@include border-radius(3px);
			text-align: center;
			cursor: pointer;
			border: none;
			-webkit-appearance: none;
			font-family: 'Open Sans', sans-serif;
			background: $red;
			color: #fff;
			float: right;
			&:hover {
				@include opacity(0.8);
				transition: 0.4s all ease;
			}
		}
	}
	input.upme-input, 
	select.upme-input, 
	textarea.upme-input, 
	input.upme-datepicker, 
	input.upme-datepicker[readonly] {
		box-shadow: none;
	}
	div.upme-widget-wrap a.upme-button, 
	input[type=submit].upme-button, 
	input[type=button].upme-button,
	a.upme-button-alt, 
	div.upme-wrap a.upme-button-alt, 
	div.upme-wrap div.upme-button-alt, 
	div.upme-wrap input.upme-button-alt {
		background: $red;
		color: #fff;
		background-image: $red;
		box-shadow: none;
		border: none;
		font-weight: 600;
		transition: 0.4s all ease;
	}
	a.upme-button-alt:hover, 
	div.upme-wrap a.upme-button-alt:hover, 
	div.upme-wrap div.upme-button-alt:hover, 
	div.upme-wrap input.upme-button-alt:hover, 
	div.upme-wrap input.upme-button-alt:focus,
	div.upme-wrap a.upme-button:hover, 
	input[type=submit].upme-button:hover, 
	input[type=submit].upme-button:focus, 
	input[type=button].upme-button:hover, 
	input[type=button].upme-button:focus, 
	div.upme-wrap a.upme-button:active, 
	input[type=submit].upme-button:active, 
	input[type=submit].upme-button:active, 
	input[type=button].upme-button:active, 
	input[type=button].upme-button:active {
		background: $red;
		color: #fff;
		background-image: $red;
		box-shadow: none;
		border: none;
		font-weight: 600;
		@include opacity(0.8);
		transition: 0.4s all ease;
	}
}
.woocommerce {
	.login {
		@include clearfix;
		margin: 0 auto;
		width: 90%;
		@include rems(max-width, 50);
		border: 1px solid $grey;
		@include rems(padding, 4);
		@include box;
		@include border-radius(4px);
		input[type=submit] {
			float: right;
		}
	}
}
div.upme-wrap.upme-login {
	margin: 0 auto;
	width: 90%;
	@include rems(max-width, 60);
	float: none;
}
