.page-sidebar {
	img {
		display: block;
		@include rems(margin-bottom, 2);
	}
	.widget {
		h2 {
			@include rems(margin-bottom, 1.5);
		}
		ul {
			&.really_simple_twitter_widget {
				li {
					@include rems(margin-bottom, 1);
					@include rems(padding-bottom, 1);
					border-bottom: 1px solid $blue;
					&:last-child {
						margin-bottom: 0;
						padding-bottom: 0;
						border-bottom: none;
					}
					span {
						&.rstw_comma {
							display: none;
						}
						&.twitter-timestamp {
							display: block;
							@include rems(margin-top, 0.5);
							color: $red;
							@include font-size(1.2, 2);
						}
					}
				}
			}
		}
	}
}
