.strength-content {
	@include clearfix;
	img {
		display: block;
		@include rems(margin-bottom, 2);
	}
	a {
		&.button {
			float: right;
		}
	}
}
.strength-entry-form {
	@include clearfix;
	@include rems(padding, 4);
	@include rems(margin, 2, 0, 0);
	background: $grey;
	@include border-radius(4px);
	@include clearfix;
	display: none;
	ul {
		margin: 0!important;
		li {
			background: none!important;
			padding-left: 0!important;
		}
	}
	input[type=submit] {
		float: right;
	}
}
.strength-power-content {
	@include rems(margin-top, 2);
	ul {
		&.strength-power-tabs {
			border-bottom: 1px solid $blue;
			@include rems(padding, 0, 2);
			@include clearfix;
			@include rems(margin-bottom, 2);
			margin-left: 0!important;
			li {
				float: left;
				@include rems(margin-right, 0.2);
				padding-left: 0!important;
				background: none!important;
				margin-bottom: 0!important;
				a {
					@include rems(padding, 0.5, 1);
					display: block;
					@include border-radius(3px 3px 0 0);
					border: 1px solid $blue;
					@include rems(margin-bottom, -0.1);
					&.active {
						border-bottom: 1px solid #fff;
					}
				}
			}
		}
		&.strength-power-tables {
			margin-left: 0!important;
			li {
				padding-left: 0!important;
				background: none!important;
				margin-bottom: 0!important;
				table {
					thead {
						tr {
							th {
								background: $blue;
								color: #fff;
								@include rems(padding, 1, 1.5);
							}
						}
					}
					tbody {
						tr {
							&:nth-child(even) {
								td {
									background: $grey;
								}
							}
						}
					}
				}
			}
		}
	}
}
