h1 {
	&.page-title, &.product_title {
		color: $blue;
		font-weight: 300;
		@include font-size(3.5, 4);
		@include rems(margin-bottom, 2);
	}
}
h2 {
	@include font-size(2, 2.4);
	font-weight: 300;
	color: $blue;
	&.tribe-events-page-title, &.tribe-events-single-event-title {
		@include font-size(3.5, 4);
		@include rems(margin-bottom, 2);	
	}
}
h3 {
	@include font-size(1.6, 2);
	font-weight: 300;
	color: $red;
}
p {
	&.return-to-shop {
		@include clearfix;
	}
}
a, button, input[type=submit] {
	color: $red;
	text-decoration: none;
	-webkit-appearance: none;
	&.button, &.tribe-events-button, &.wp-email-capture-submit {
		@include rems(padding, 0.5, 1);
		display: block;
		transition: 0.4s all ease;
		@include font-size(2, 2.4);
		@include border-radius(3px);
		text-align: center;
		cursor: pointer;
		border: none;
		-webkit-appearance: none;
		font-family: 'Open Sans', sans-serif;
		background: $red;
		color: #fff;
		&:hover {
			@include opacity(0.8);
			transition: 0.4s all ease;
		}
	}
	&.blue {
		background: $blue;
		color: #fff;
	}
	&.single_add_to_cart_button {
		@include rems(margin-top, 2);
	}
	&.wc-backward {
		float: right;
	}
}
