table {
	&.cart {
		border: 1px solid rgba(0,0,0,.1);
		@include border-radius(5px);
		width: 100%;
		@include rems(margin-bottom, 2);
		th {
			background: $blue;
			color: #fff;
			@include rems(padding, 1, 1.2);
			text-align: left;
			@media #{$phone} {
				display: none;
			}
		}
		tbody {
			tr {
				&:last-child {
					background: $grey;
					border-bottom: 1px solid rgba(0,0,0,.1);
				}
				td {
					@include rems(padding, 1, 1.2);
					border-top: 1px solid rgba(0,0,0,.1);
					@include clearfix;
					@media #{$phone} {
						display: block;
					}
					input[type=submit] {
						float: right;
						@media #{$phone} {
							width: 100%;
						}
					}
					input[name="coupon_code"] {
						@include rems(margin-right, 1);
					}
					&.product-remove {
						text-align: center;
						a {
							display: inline-block;
							text-indent: -10000px;
							@include rems(width, 2);
							@include rems(height, 2);
							background-image: url('images/close.png');
							background-size: contain;
							background-position: center center;
							background-repeat: no-repeat;
							@media #{$retina} {
								background-image: url('images/close@2x.png');
							}
						}
						@media #{$phone} {
							display: none;
						}
					}
					&.product-thumbnail, &.product-price {
						@media #{$phone} {
							display: none;
						}
					}
					dl {
						@include clearfix;
						@include rems(margin-top, 1.5);
						@include font-size(1.2, 1.8);
						dt {
							clear: both;
							float: left;
							@include rems(margin-right, 0.5);
							font-weight: 600;
							&.variation-BWLPrivacyPolicy, &.variation-BWLMemorandumandArticlesofAssociationandAntiDopingRules, &.variation-BWLChildProtectionEquityPoliciesandCodeofEthicsConduct {
								display: none;
							}
						}
						dd {
							float: left;
							&.variation-BWLPrivacyPolicy, &.variation-BWLMemorandumandArticlesofAssociationandAntiDopingRules, &.variation-BWLChildProtectionEquityPoliciesandCodeofEthicsConduct {
								display: none;
							}
						}
					}
				}
			}
		}
		.coupon {
			float: left;
			@include clearfix;
			width: 40%;
			@media #{$tablet} {
				width: 60%;
			}
			@media #{$phone} {
				width: 100%;
				@include rems(margin-bottom, 2);
			}
			input {
				float: left;
				&[type=text] {
					width: 62%;
					@media #{$phone} {
						width: 100%;
						@include rems(margin-bottom, 1);
					}
				}
				&[type=submit] {
					width: 35%;
					float: right;
					@media #{$phone} {
						width: 100%;
					}
				}
			}
			label {
				display: none;
			}
		}
	}
}
.cart-collaterals {
	float: right;
	@media #{$phone} {
		width: 100%;
		@include rems(margin-bottom, 2);
	}
	h2 {
		color: #fff;
		background: $blue;
		@include rems(padding, 1, 2);
	}
	table {
		border: 1px solid rgba(0,0,0,0.1);
		@media #{$phone} {
			width: 100%;
		}
		td, th {
			@include rems(padding, 1, 1.2);
			border-top: 1px solid rgba(0,0,0,.1);
			p {
				padding-bottom: 0;
			}
		}
		th {
			border-right: 1px solid rgba(0, 0, 0, 0.1);
		}
	}
}
