form {
	&.woocommerce-checkout {
		h3 {
			@include font-size(2, 2.4);
			@include rems(margin-bottom, 1.5);
		}
	}
}
.woocommerce-checkout {
	form {
		&.login {
			border: none;
			height: 0;
			width: 0;
			overflow: hidden;
			padding: 0;
			p {
				display: none;
			}
		}
	}
}
.col2-set {
	@include clearfix;
	@include rems(margin-top, 2);
	@include rems(padding-bottom, 2);
	@include rems(margin-bottom, 2);
	border-bottom: 1px solid $blue;
	.col-1, .col-2 {
		float: left;
		@include rowMachine(2, 5%);
		@media #{$phone} {
			@include rowMachine(1, 5%);
		}
	}
}
.checkout_coupon {
	@include clearfix;
	@include rems(padding, 1);
	background: $blue;
	@include border-radius(4px);
	@include rems(margin-top, 2);
	p {
		padding-bottom: 0;
	}
	.form-row-first {
		float: left;
		width: 83%;
		@include box;
		@include rems(padding-right, 1);
		@media #{$phone} {
			width: 100%;
			padding-right: 0;
			@include rems(margin-bottom, 1);
		}
	}
	.form-row-last {
		float: right;
		width: 17%;
		@media #{$phone} {
			width: 100%;
		}
		input[type=submit].button {
			width: 100%;
		}
	}
}
.woocommerce-checkout-review-order {
	table {
		&.woocommerce-checkout-review-order-table {
			border: 1px solid rgba(0,0,0,.1);
			@include border-radius(5px);
			width: 100%;
			@include rems(margin-bottom, 2);
			thead {
				th {
					background: $blue;
					color: #fff;
					@include rems(padding, 1, 1.2);
					text-align: left;
				}
			}
			th {
				border-top: 1px solid rgba(0,0,0,.1);
				@include rems(padding, 1, 1.2);
				text-align: left;	
			}
			td {
				@include rems(padding, 1, 1.2);
				border-top: 1px solid rgba(0,0,0,.1);
			}
			dl {
				@include clearfix;
				@include rems(margin-top, 1.5);
				@include font-size(1.2, 1.8);
				dt {
					clear: both;
					float: left;
					@include rems(margin-right, 0.5);
					font-weight: 600;
					&.variation-BWLPrivacyPolicy, &.variation-BWLMemorandumandArticlesofAssociationandAntiDopingRules, &.variation-BWLChildProtectionEquityPoliciesandCodeofEthicsConduct {
						display: none;
					}
				}
				dd {
					float: left;
					&.variation-BWLPrivacyPolicy, &.variation-BWLMemorandumandArticlesofAssociationandAntiDopingRules, &.variation-BWLChildProtectionEquityPoliciesandCodeofEthicsConduct {
						display: none;
					}
				}
			}
		}
		tfoot {
			tr {
				&:first-child {
					td, th {
						border-top: 2px solid rgba(0,0,0,0.1);
					}
				}
			}
		}
	}
}
.woocommerce-checkout-payment {
	@include rems(padding-top, 2);
	@include rems(margin-top, 2);
	border-top: 1px solid $blue;
	@include clearfix;
	@media #{$phone} {
		@include rems(margin-bottom, 2);
	}
	img {
		display: none;
	}
	input[type=submit] {
		float: right;
	}
	ul {
		li {
			@include rems(margin-bottom, 1);
			.payment_box {
				@include rems(margin-left, 2.2);
			}
		}
	}
}
