.product {
	@include clearfix;
	.images, .summary {
		float: left;
		@include rems(padding-bottom, 2);
	}
	.images {
		width: 23%;
		margin-right: 5%;
		@include border-radius(4px);
		border: 1px solid $grey;
		@include rems(padding, 2);
		@include box;
		@media #{$phone} {
			width: 100%;
			margin-right: 0;
			@include rems(margin-bottom, 2);
		}
	}
	.summary {
		width: 72%;
		@media #{$phone} {
			width: 100%;
		}
		.price {
			color: $blue;
		}
		div[itemprop="description"] {
			@include rems(margin-bottom, 2);
		}
		.product_meta {
			& > span {
				display: block;
			}
		}
		table {
			&.variations {
				td {
					vertical-align: top;
					&.label {
						@include rems(padding, 0, 1, 0, 0);
						label {
							@include rems(padding, 0.5, 0);
						}
					}
				}
			}
		}
		.gform_wrapper {
			.gform_wrapper {
				width: 100%;
				@include rems(padding, 2, 0);
				ul {
					&.gform_fields {
						& > li {
							@include rems(margin-bottom, 1.5);
						}
					}
				}
			}
		}
		.product_totals {
			display: none;
		}
		p {
			&.stock {
				color: $red;
				@include rems(margin-bottom, 2);
			}
		}
		span {
			&.price {
				@include font-size(2, 2.4);
				@include rems(margin, 1, 0);
				color: $red;
				display: block;
			}
		}
	}
	.woocommerce-tabs {
		clear: both;
		@include rems(margin-bottom, 2);
		ul {
			&.tabs {
				border-bottom: 1px solid $blue;
				@include rems(padding, 0, 2);
				@include clearfix;
				@include rems(margin-bottom, 2);
				li {
					float: left;
					@include rems(margin-right, 0.2);
					a {
						@include rems(padding, 0.5, 1);
						display: block;
						@include border-radius(3px 3px 0 0);
						border: 1px solid $blue;
						@include rems(margin-bottom, -0.1);
					}
					&.active {
						a {
							border-bottom: 1px solid #fff;
						}
					}
				}
			}
		}
	}
}
