/* CSS for the Listing Page */

.woocommerce-result-count {
	float: left;
	color: $blue;
}
.woocommerce-ordering {
	float: right;
	@include rems(margin-top, -1.2);
	@media #{$phone} {
		width: 100%;
		@include rems(margin, 0, 0, 2);
	}
}
ul {
	&.products {
		@include clearfix;
		border-top: 1px solid $blue;
		//border-bottom: 1px solid $blue;
		@include rems(margin, 2, 0, 0);
		@include rems(padding, 2, 0);
		clear: both;
		li {
			@include rowMachine(5, 2%);
			float: left;
			text-align: center;
			@include box;
			transition: 0.4s all ease;
			@include border-radius(4px);
			border: 1px solid $grey;
			@include rems(padding, 2);
			@media #{$tablet} {
				@include rowMachine(3, 2%);
				&:nth-child(5n+1) {
					clear: none;
				}
			}
			@media #{$phone} {
				@include rowMachine(2, 5%);
				&:nth-child(3n+1) {
					clear: none;
				}
			}
			&:hover {
				border: 1px solid $blue;
			}
			h3 {
				@include rems(margin-bottom, 1);
				overflow: hidden;
				@include rems(height, 4);
			}
			span {
				&.price {
					display: block;
					@include rems(margin-bottom, 1);
				}
				&.amount {
					@include rems(padding, 0, 0.5);
				}
			}
			a.button {
				display: inline-block;
			}
		}
	}
}
