.woocommerce-message, .woocommerce-error li {
	background: $red;
	color: #fff;
	@include rems(padding, 0.5, 1);
	display: block;
	@include box;
	width: 100%;
	@include clearfix;
	@include border-radius(3px);
	@include rems(margin-bottom, 4);
	.button {
		float: right;
		@include font-size(1.6, 2);
		padding: 0;
		&:before {
			content: "\f07a";
			@include icon;
			@include rems(margin-right, 1);
		}
	}
	&:before {
		@include icon;
		@include rems(margin-right, 0.5);
	}
}
.woocommerce-message {
	&:before {
		content: "\f058";
	}
}
.woocommerce-error li {
	&:before {
		content: "\f057";
	}
}
