/*!

Theme Name: British Weight Lifting

Theme URI: http://wordpress.org/

Description: The Custom Theme for British Weight Lifting

Author: 100 And 10%

Author URI: http://www.110percent.co.uk/

Version: 1.0

@charset "UTF-8";

/* CSS Document */

/* Resets */

/* line 86, stylesheets/reset.scss */

html {

  font-size: 62.5%;

  -webkit-font-smoothing: antialiased !important;

}



/* line 91, stylesheets/reset.scss */

html, body {

  height: 100%;

}



/* line 94, stylesheets/reset.scss */

* {

  margin: 0;

  padding: 0;

}



/* line 98, stylesheets/reset.scss */

ol, ul {

  list-style: none;

}



/* line 101, stylesheets/reset.scss */

img {

  border: none;

  width: auto;

  max-width: 100%;

  height: auto;

  max-height: 100%;

}



/* line 108, stylesheets/reset.scss */

.clear {

  clear: both;

}



/* line 111, stylesheets/reset.scss */

.col, aside {

  float: left;

}



/* line 114, stylesheets/reset.scss */

p {

  padding-bottom: 1.5rem;

  padding-bottom: 15px;

}



/* line 118, stylesheets/reset.scss */

p:last-child {

  padding-bottom: 0;

}



/* line 121, stylesheets/reset.scss */

.container {

  width: 90%;

  margin: 0 auto;

}



/* line 125, stylesheets/reset.scss */

::selection {

  background: #e82c2d;

  /* Safari */

  color: #fff;

}



/* line 129, stylesheets/reset.scss */

::-moz-selection {

  background: #e82c2d;

  /* Firefox */

  color: #fff;

}



/* line 133, stylesheets/reset.scss */

article, aside, details, figcaption, figure,

footer, header, hgroup, menu, nav, section {

  display: block;

}



/* line 137, stylesheets/reset.scss */

body {

  line-height: 1;

}



/* line 140, stylesheets/reset.scss */

ol, ul {

  list-style: none;

}



/* line 143, stylesheets/reset.scss */

blockquote, q {

  quotes: none;

}



/* line 146, stylesheets/reset.scss */

blockquote:before, blockquote:after,

q:before, q:after {

  content: '';

  content: none;

}



/* line 151, stylesheets/reset.scss */

table {

  border-collapse: collapse;

  border-spacing: 0;

}



/* line 155, stylesheets/reset.scss */

h1, h2, h3, h4, h5, h6 {

  font-weight: normal;

  font-style: normal;

}



/* line 1, stylesheets/mob-nav.scss */

nav.clearfix {

  height: auto;

  width: 100%;

  font-size: 20pt;

  font-weight: 400;

  position: relative;

  display: block;

  padding: 0;

  *zoom: 1;

  display: none;

}

@media only screen and (max-width: 25em) {

  /* line 1, stylesheets/mob-nav.scss */

  nav.clearfix {

    display: block;

  }

}

/* line 14, stylesheets/mob-nav.scss */

nav.clearfix ul {

  padding: 0;

  margin: 0 auto;

  width: 100%;

  height: auto;

  display: none;

}

/* line 20, stylesheets/mob-nav.scss */

nav.clearfix ul li {

  display: block;

  float: none;

  width: 100%;

  position: relative;

  margin: 0;

}

/* line 26, stylesheets/mob-nav.scss */

nav.clearfix ul li a {

  box-sizing: border-box;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

}

/* line 31, stylesheets/mob-nav.scss */

nav.clearfix ul li ul {

  padding-left: 20px;

  box-sizing: border-box;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

}

/* line 37, stylesheets/mob-nav.scss */

nav.clearfix ul li ul li a {

  color: #15377e;

}

/* line 44, stylesheets/mob-nav.scss */

nav.clearfix ul li:last-child a {

  border-right: 0;

}

/* line 49, stylesheets/mob-nav.scss */

nav.clearfix a {

  color: #e82c2d;

  display: block;

  width: 100%;

  text-align: left;

  text-indent: 25px;

  width: 100%;

  text-decoration: none;

  line-height: 40px;

  background: #fff;

  font-size: 16px;

  padding: 0 0 0 2.5%;

  border-bottom: none;

}

/* line 63, stylesheets/mob-nav.scss */

nav.clearfix a#pull {

  display: block;

  width: 95%;

  padding-right: 2.5%;

  position: relative;

  background: #e82c2d;

  color: #fff;

  font-size: 2rem;

  line-height: 40px;

}

/* line 73, stylesheets/mob-nav.scss */

nav.clearfix a#pull:after {

  font-family: "dashicons";

  content: "\f214";

  font-size: 3rem;

  display: inline-block;

  position: absolute;

  right: calc(2.5% + 25px);

}



/* line 82, stylesheets/mob-nav.scss */

.clearfix:before, .clearfix:after {

  content: " ";

  display: table;

}



/* line 86, stylesheets/mob-nav.scss */

.clearfix:after {

  clear: both;

}



/* Share Buttons */

/* line 3, stylesheets/sharers.scss */

.social-share {

  font-family: 'Novecento Sans W01 Wd Bd';

  color: #fff;

  font-size: 12px;

  font-size: 1.2rem;

  line-height: 16px;

  line-height: 1.6rem;

  text-transform: uppercase;

  display: block;

  float: left;

  position: relative;

  font-weight: normal;

  letter-spacing: 0.1rem;

  text-decoration: none;

}



/* line 18, stylesheets/sharers.scss */

.social-share.facebook {

  background: #3b5998;

  padding: 5px 25px 5px 10px;

  padding: 0.5rem 2.5rem 0.5rem 1rem;

}



/* line 23, stylesheets/sharers.scss */

.social-share.twitter {

  background: #4099ff;

  padding: 5px 30px 5px 10px;

  padding: 0.5rem 3rem 0.5rem 1rem;

}



/* line 28, stylesheets/sharers.scss */

.social-share.google {

  background: #d34836;

  padding: 5px 30px 5px 10px;

  padding: 0.5rem 3rem 0.5rem 1rem;

}



/* line 33, stylesheets/sharers.scss */

.social-share:after {

  margin-left: 5px;

  margin-left: 0.5rem;

  font-size: 16px;

  font-size: 1.6rem;

}



/* line 39, stylesheets/sharers.scss */

.social-share.facebook:after {

  font-family: "dashicons";

  content: "\f305";

  position: absolute;

}



/* line 44, stylesheets/sharers.scss */

.social-share.twitter:after {

  font-family: "dashicons";

  content: "\f301";

  position: absolute;

}



/* line 49, stylesheets/sharers.scss */

.social-share.google:after {

  font-family: "dashicons";

  content: "\f462";

  position: absolute;

}



/* line 19, stylesheets/style.scss */

body {

  font-family: "Open Sans", sans-serif !important;

  color: #4d4d4d;

  font-size: 14px;

  line-height: 18px;

  font-size: 1.4rem;

  line-height: 1.8rem;

}



/* line 24, stylesheets/style.scss */

.container {

  max-width: 1160px;

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.container:before, .container:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.container:after {

  clear: both;

}

/* line 27, stylesheets/style.scss */

.container#error {

  text-align: center;

  padding: 40px 0px;

  padding: 4rem 0rem;

}

/* line 30, stylesheets/style.scss */

.container#error h1 {

  font-size: 40px;

  line-height: 44px;

  font-size: 4rem;

  line-height: 4.4rem;

  color: #e82c2d;

  margin-bottom: 20px;

  margin-bottom: 2rem;

}

/* line 35, stylesheets/style.scss */

.container#error p {

  font-size: 20px;

  line-height: 24px;

  font-size: 2rem;

  line-height: 2.4rem;

}



/* line 40, stylesheets/style.scss */

a {

  color: #e82c2d;

  text-decoration: none;

}



/* Header Styles */

/* line 48, stylesheets/style.scss */

header .header-meta {

  padding: 5px 0px 2px;

  padding: 0.5rem 0rem 0.2rem;

  background: #15377e;

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

header .header-meta:before, header .header-meta:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

header .header-meta:after {

  clear: both;

}

@media only screen and (max-width: 25em) {

  /* line 48, stylesheets/style.scss */

  header .header-meta {

    padding: 0;

  }

}

/* line 55, stylesheets/style.scss */

header .header-meta aside {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

header .header-meta aside:before, header .header-meta aside:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

header .header-meta aside:after {

  clear: both;

}

/* line 57, stylesheets/style.scss */

header .header-meta aside ul {

  *zoom: 1;

  font-size: 12px;

  line-height: 30px;

  font-size: 1.2rem;

  line-height: 3rem;

  font-weight: 700;

  float: left;

}

/* line 66, stylesheets/reset.scss */

header .header-meta aside ul:before, header .header-meta aside ul:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

header .header-meta aside ul:after {

  clear: both;

}

@media only screen and (max-width: 25em) {

  /* line 57, stylesheets/style.scss */

  header .header-meta aside ul {

    display: none;

  }

}

/* line 63, stylesheets/style.scss */

header .header-meta aside ul li {

  float: left;

  margin-right: 15px;

  margin-right: 1.5rem;

}

/* line 66, stylesheets/style.scss */

header .header-meta aside ul li a {

  color: #fff;

}

/* line 68, stylesheets/style.scss */

header .header-meta aside ul li a:hover {

  color: #e82c2d;

}

/* line 72, stylesheets/style.scss */

header .header-meta aside ul li.menu-item-has-children {

  position: relative;

}

/* line 74, stylesheets/style.scss */

header .header-meta aside ul li.menu-item-has-children ul {

  background: #15377e;

  position: absolute;

  top: 30px;

  top: 3rem;

  left: -10px;

  left: -1rem;

  width: auto;

  z-index: 600;

  display: none;

}

/* line 82, stylesheets/style.scss */

header .header-meta aside ul li.menu-item-has-children ul li {

  display: block;

  text-transform: none;

  float: none;

  padding: 0px 10px;

  padding: 0rem 1rem;

}

/* line 87, stylesheets/style.scss */

header .header-meta aside ul li.menu-item-has-children ul li a {

  white-space: nowrap;

}

/* line 89, stylesheets/style.scss */

header .header-meta aside ul li.menu-item-has-children ul li a:hover {

  color: #e82c2d;

}

/* line 94, stylesheets/style.scss */

header .header-meta aside ul li.menu-item-has-children ul li.menu-item-has-children:after {

  content: "\f105";

  float: right;

  color: #fff;

  font-family: 'FontAwesome';

  margin: 0px 10px;

  margin: 0rem 1rem;

  display: block;

  position: absolute;

  top: 0;

  right: -15px;

  right: -1.5rem;

}

/* line 106, stylesheets/style.scss */

header .header-meta aside ul li.menu-item-has-children ul li.menu-item-has-children:hover:after {

  color: #e82c2d;

}

/* line 110, stylesheets/style.scss */

header .header-meta aside ul li.menu-item-has-children ul li.menu-item-has-children ul {

  position: absolute;

  left: 100%;

  top: 0;

  display: none;

}

/* line 124, stylesheets/style.scss */

header .header-meta aside ul:first-child li:first-child a {

  color: #e82c2d;

}

/* line 131, stylesheets/style.scss */

header .header-meta aside .menu-about-menu-container {

  float: left;

}

/* line 136, stylesheets/style.scss */

header .header-meta aside .menu-about-menu-container ul li:first-child a {

  color: #fff;

}

/* line 143, stylesheets/style.scss */

header .header-meta aside.header-search {

  float: right;

}

@media only screen and (max-width: 25em) {

  /* line 143, stylesheets/style.scss */

  header .header-meta aside.header-search {

    width: 100%;

  }

}

/* line 146, stylesheets/style.scss */

header .header-meta aside.header-search a {

  color: #fff;

  margin-left: 10px;

  margin-left: 1rem;

  font-size: 12px;

  line-height: 30px;

  font-size: 1.2rem;

  line-height: 3rem;

  display: block;

  padding-top: 3px;

  padding-top: 0.3rem;

  float: left;

}

@media only screen and (max-width: 25em) {

  /* line 146, stylesheets/style.scss */

  header .header-meta aside.header-search a {

    display: none;

  }

}

/* line 155, stylesheets/style.scss */

header .header-meta aside.header-search form {

  float: right;

  *zoom: 1;

  margin-left: 10px;

  margin-left: 1rem;

}

/* line 66, stylesheets/reset.scss */

header .header-meta aside.header-search form:before, header .header-meta aside.header-search form:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

header .header-meta aside.header-search form:after {

  clear: both;

}

@media only screen and (max-width: 25em) {

  /* line 155, stylesheets/style.scss */

  header .header-meta aside.header-search form {

    width: 100%;

  }

}

@media only screen and (max-width: 25em) {

  /* line 155, stylesheets/style.scss */

  header .header-meta aside.header-search form {

    margin: 5px 0px;

    margin: 0.5rem 0rem;

  }

}

/* line 163, stylesheets/style.scss */

header .header-meta aside.header-search form label {

  display: none;

}

/* line 166, stylesheets/style.scss */

header .header-meta aside.header-search form input[type="text"] {

  background: url(images/header-search.png) center left no-repeat #f2f2f2;

  float: left;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  padding-left: 32px;

  padding-left: 3.2rem;

  width: 200px;

  width: 20rem;

}

@media only screen and (max-width: 25em) {

  /* line 166, stylesheets/style.scss */

  header .header-meta aside.header-search form input[type="text"] {

    width: 100%;

  }

}

/* line 174, stylesheets/style.scss */

header .header-meta aside.header-search form input[type="submit"] {

  display: none;

}

/* line 181, stylesheets/style.scss */

header .header-main {

  padding: 15px 0px;

  padding: 1.5rem 0rem;

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

header .header-main:before, header .header-main:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

header .header-main:after {

  clear: both;

}

/* line 184, stylesheets/style.scss */

header .header-main #logo {

  width: 31.1%;

  padding-top: 13px;

  padding-top: 1.3rem;

}

@media only screen and (max-width: 65em) {

  /* line 184, stylesheets/style.scss */

  header .header-main #logo {

    padding-top: 3px;

    padding-top: 0.3rem;

    width: 28%;

    margin-right: 3.1%;

  }

}

@media only screen and (max-width: 25em) {

  /* line 184, stylesheets/style.scss */

  header .header-main #logo {

    width: 100%;

  }

}

@media only screen and (max-width: 25em) {

  /* line 184, stylesheets/style.scss */

  header .header-main #logo {

    text-align: center;

  }

}

/* line 197, stylesheets/style.scss */

header .header-main #header-ad {

  width: 68.9%;

}

@media only screen and (max-width: 25em) {

  /* line 197, stylesheets/style.scss */

  header .header-main #header-ad {

    display: none;

  }

}

/* line 202, stylesheets/style.scss */

header nav {

  background: #e82c2d;

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

header nav:before, header nav:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

header nav:after {

  clear: both;

}

@media only screen and (max-width: 1290px) {

  /* line 205, stylesheets/style.scss */

  header nav .container {

    width: 100%;

  }

}

@media only screen and (max-width: 25em) {

  /* line 202, stylesheets/style.scss */

  header nav {

    display: none;

  }

}

/* line 211, stylesheets/style.scss */

header nav ul {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

header nav ul:before, header nav ul:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

header nav ul:after {

  clear: both;

}

@media only screen and (max-width: 1280px) {

  /* line 211, stylesheets/style.scss */

  header nav ul {

    text-align: center;

  }

}

/* line 216, stylesheets/style.scss */

header nav ul li {

  float: left;

  text-transform: uppercase;

}

@media only screen and (max-width: 1280px) {

  /* line 216, stylesheets/style.scss */

  header nav ul li {

    float: none;

    display: inline-block;

    font-size: 12px;

    line-height: 18px;

    font-size: 1.2rem;

    line-height: 1.8rem;

  }

}

@media only screen and (max-width: 65em) {

  /* line 216, stylesheets/style.scss */

  header nav ul li {

    font-size: 10px;

    line-height: 13px;

    font-size: 1rem;

    line-height: 1.3rem;

  }

}

/* line 227, stylesheets/style.scss */

header nav ul li.menu-item-has-children {

  position: relative;

}

/* line 229, stylesheets/style.scss */

header nav ul li.menu-item-has-children ul {

  background: #e82c2d;

  position: absolute;

  top: 38px;

  top: 3.8rem;

  left: 0;

  width: auto;

  z-index: 500;

  display: none;

}

/* line 237, stylesheets/style.scss */

header nav ul li.menu-item-has-children ul li {

  display: block;

  text-transform: none;

  float: none;

}

/* line 241, stylesheets/style.scss */

header nav ul li.menu-item-has-children ul li a {

  white-space: nowrap;

}

/* line 245, stylesheets/style.scss */

header nav ul li.menu-item-has-children ul li.menu-item-has-children:after {

  content: "\f105";

  float: right;

  color: #fff;

  font-family: 'FontAwesome';

  margin: 0px 10px;

  margin: 0rem 1rem;

  display: block;

  position: absolute;

  top: 10px;

  top: 1rem;

  right: 0;

}

/* line 256, stylesheets/style.scss */

header nav ul li.menu-item-has-children ul li.menu-item-has-children ul {

  position: absolute;

  left: 100%;

  top: 0;

  display: none;

}

/* line 266, stylesheets/style.scss */

header nav ul li a {

  padding: 10px 9px;

  padding: 1rem 0.9rem;

  color: #fff;

  text-decoration: none;

  display: block;

}

/* line 271, stylesheets/style.scss */

header nav ul li a:hover {

  color: #15377e;

}

@media only screen and (max-width: 1280px) {

  /* line 266, stylesheets/style.scss */

  header nav ul li a {

    padding: 10px 5px;

    padding: 1rem 0.5rem;

  }

}

/* line 280, stylesheets/style.scss */

header nav.secondary {

  background: #e5e5e5;

  font-size: 12px;

  line-height: 14px;

  font-size: 1.2rem;

  line-height: 1.4rem;

  padding: 5px 0px;

  padding: 0.5rem 0rem;

}

/* line 284, stylesheets/style.scss */

header nav.secondary li {

  position: relative;

}

/* line 286, stylesheets/style.scss */

header nav.secondary li a {

  color: #15377e;

  padding: 5px 10px;

  padding: 0.5rem 1rem;

}

/* line 290, stylesheets/style.scss */

header nav.secondary li ul {

  background: #e5e5e5;

  position: absolute;

  top: 34px;

  top: 3.4rem;

  left: 0;

  width: auto;

  z-index: 500;

  display: none;

}

/* line 298, stylesheets/style.scss */

header nav.secondary li ul li {

  display: block;

  text-transform: none;

  float: none;

}

/* line 302, stylesheets/style.scss */

header nav.secondary li ul li a {

  white-space: nowrap;

}



/* Footer Styles */

/* line 314, stylesheets/style.scss */

footer {

  *zoom: 1;

  padding-bottom: 50px;

  padding-bottom: 5rem;

}

/* line 66, stylesheets/reset.scss */

footer:before, footer:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

footer:after {

  clear: both;

}

/* line 317, stylesheets/style.scss */

footer .footer-ad {

  width: 100%;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  margin-bottom: 50px;

  margin-bottom: 5rem;

}

@media only screen and (max-width: 25em) {

  /* line 317, stylesheets/style.scss */

  footer .footer-ad {

    display: none;

  }

}

/* line 323, stylesheets/style.scss */

footer .footer-partners {

  background: url(images/footer-border.png) top center;

  padding: 10px 0px;

  padding: 1rem 0rem;

  margin-bottom: 30px;

  margin-bottom: 3rem;

  text-align: center;

  position: relative;

}

/* line 329, stylesheets/style.scss */

footer .footer-partners h2 {

  display: inline-block;

  padding: 20px;

  padding: 2rem;

  background: #fff;

  color: #e82c2d;

  position: absolute;

  top: -30px;

  top: -3rem;

  font-weight: 800;

  text-transform: uppercase;

  font-size: 30px;

  line-height: 34px;

  font-size: 3rem;

  line-height: 3.4rem;

  left: 50%;

  margin-left: -100px;

  margin-left: -10rem;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  width: 200px;

  width: 20rem;

}

@media only screen and (max-width: 25em) {

  /* line 329, stylesheets/style.scss */

  footer .footer-partners h2 {

    padding: 0px 10px;

    padding: 0rem 1rem;

    top: -10px;

    top: -1rem;

  }

}

/* line 348, stylesheets/style.scss */

footer .footer-partners .partners {

  background: #fff;

  padding: 20px 0px 10px;

  padding: 2rem 0rem 1rem;

}

/* line 351, stylesheets/style.scss */

footer .footer-partners .partners ul {

  text-align: center;

}

/* line 353, stylesheets/style.scss */

footer .footer-partners .partners ul li {

  display: inline-block;

  padding: 0px 10px;

  padding: 0rem 1rem;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  width: 20%;

  max-width: 160px;

  max-width: 16rem;

  font-size: 12px;

  line-height: 18px;

  font-size: 1.2rem;

  line-height: 1.8rem;

}

@media only screen and (max-width: 65em) {

  /* line 353, stylesheets/style.scss */

  footer .footer-partners .partners ul li {

    width: 18%;

  }

}

@media only screen and (max-width: 25em) {

  /* line 353, stylesheets/style.scss */

  footer .footer-partners .partners ul li {

    width: 100%;

  }

}

@media only screen and (max-width: 25em) {

  /* line 353, stylesheets/style.scss */

  footer .footer-partners .partners ul li {

    max-width: auto;

  }

}

/* line 371, stylesheets/style.scss */

footer .footer-main {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

footer .footer-main:before, footer .footer-main:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

footer .footer-main:after {

  clear: both;

}

/* line 373, stylesheets/style.scss */

footer .footer-main aside {

  margin-right: 40px;

  margin-right: 4rem;

  font-size: 12px;

  line-height: 14px;

  font-size: 1.2rem;

  line-height: 1.4rem;

}

@media only screen and (max-width: 65em) {

  /* line 373, stylesheets/style.scss */

  footer .footer-main aside {

    width: 24.25%;

    font-size: 10px;

    line-height: 13px;

    font-size: 1rem;

    line-height: 1.3rem;

  }

  /* line 53, stylesheets/reset.scss */

  footer .footer-main aside:nth-child(n) {

    margin-bottom: 1%;

    margin-right: 1%;

  }

  /* line 57, stylesheets/reset.scss */

  footer .footer-main aside:nth-child(4n) {

    margin-right: 0;

  }

  /* line 60, stylesheets/reset.scss */

  footer .footer-main aside:nth-child(4n+1) {

    clear: both;

  }

}

@media only screen and (max-width: 25em) {

  /* line 373, stylesheets/style.scss */

  footer .footer-main aside {

    width: 100%;

  }

}

/* line 381, stylesheets/style.scss */

footer .footer-main aside h2 {

  color: #e82c2d;

  font-size: 14px;

  line-height: 16px;

  font-size: 1.4rem;

  line-height: 1.6rem;

  margin-bottom: 10px;

  margin-bottom: 1rem;

  text-transform: uppercase;

  font-weight: 700;

}

@media only screen and (max-width: 65em) {

  /* line 381, stylesheets/style.scss */

  footer .footer-main aside h2 {

    font-size: 11px;

    line-height: 13px;

    font-size: 1.1rem;

    line-height: 1.3rem;

  }

}

/* line 392, stylesheets/style.scss */

footer .footer-main aside ul li {

  margin-bottom: 5px;

  margin-bottom: 0.5rem;

}

/* line 394, stylesheets/style.scss */

footer .footer-main aside ul li a {

  color: #4d4d4d;

}

/* line 397, stylesheets/style.scss */

footer .footer-main aside ul li span {

  font-weight: 700;

  color: #e82c2d;

}

@media only screen and (max-width: 65em) {

  /* line 397, stylesheets/style.scss */

  footer .footer-main aside ul li span {

    display: none;

  }

}

/* line 406, stylesheets/style.scss */

footer .footer-main aside.contact-info {

  float: right;

  margin-right: 0;

}

/* line 409, stylesheets/style.scss */

footer .footer-main aside.contact-info img {

  max-width: 120px;

  max-width: 12rem;

  margin-bottom: 10px;

  margin-bottom: 1rem;

}

/* line 413, stylesheets/style.scss */

footer .footer-main aside.contact-info address {

  font-style: normal;

  margin-bottom: 5px;

  margin-bottom: 0.5rem;

}

/* line 417, stylesheets/style.scss */

footer .footer-main aside.contact-info li {

  margin-bottom: 0;

}

/* line 420, stylesheets/style.scss */

footer .footer-main aside.contact-info .footer-socials {

  margin-top: 10px;

  margin-top: 1rem;

}

/* line 422, stylesheets/style.scss */

footer .footer-main aside.contact-info .footer-socials i {

  margin-right: 10px;

  margin-right: 1rem;

}



/* Home Styles */

/* line 433, stylesheets/style.scss */

.home-slider {

  position: relative;

  background: #15377e;

  height: 343px;

  height: 34.3rem;

  margin-top: 40px;

  margin-top: 4rem;

  overflow: hidden;

  margin-right: 4%;

  width: 74%;

}

@media only screen and (max-width: 65em) {

  /* line 433, stylesheets/style.scss */

  .home-slider {

    width: 100%;

    height: auto;

    margin-bottom: 5%;

  }

}

/* line 446, stylesheets/style.scss */

.home-slider .bx-pager {

  position: absolute;

  top: 30px;

  top: 3rem;

  right: 30px;

  right: 3rem;

  padding: 10px 0px;

  padding: 1rem 0rem;

}

@media only screen and (max-width: 25em) {

  /* line 446, stylesheets/style.scss */

  .home-slider .bx-pager {

    width: 100%;

  }

}

@media only screen and (max-width: 25em) {

  /* line 446, stylesheets/style.scss */

  .home-slider .bx-pager {

    top: 0;

    right: 0;

    text-align: center;

  }

}

/* line 457, stylesheets/style.scss */

.home-slider .bx-pager .bx-pager-item {

  float: left;

  margin-left: 10px;

  margin-left: 1rem;

}

@media only screen and (max-width: 25em) {

  /* line 457, stylesheets/style.scss */

  .home-slider .bx-pager .bx-pager-item {

    float: none;

    display: inline-block;

  }

}

/* line 464, stylesheets/style.scss */

.home-slider .bx-pager .bx-pager-item a {

  display: block;

  width: 10px;

  width: 1rem;

  height: 10px;

  height: 1rem;

  background: #fff;

  -webkit-border-radius: 50%;

  -moz-border-radius: 50%;

  -ms-border-radius: 50%;

  border-radius: 50%;

  text-indent: -10000px;

}

/* line 471, stylesheets/style.scss */

.home-slider .bx-pager .bx-pager-item a.active {

  background: #e82c2d;

}

/* line 477, stylesheets/style.scss */

.home-slider .bx-next, .home-slider .bx-prev {

  display: block;

  width: 30px;

  width: 3rem;

  height: 80px;

  height: 8rem;

  text-indent: -10000px;

  position: absolute;

  background-size: contain;

  background-position: center center;

  background-repeat: no-repeat;

  top: 50%;

  margin-top: -40px;

  margin-top: -4rem;

  opacity: 0.7;

  filter: alpha(opacity=70);

}

@media only screen and (max-width: 25em) {

  /* line 477, stylesheets/style.scss */

  .home-slider .bx-next, .home-slider .bx-prev {

    display: none;

  }

}

/* line 490, stylesheets/style.scss */

.home-slider .bx-next:hover, .home-slider .bx-prev:hover {

  opacity: 1;

  filter: alpha(opacity=100);

}

/* line 494, stylesheets/style.scss */

.home-slider .bx-next {

  right: 10px;

  right: 1rem;

  background-image: url(images/arrows_02.png);

}

/* line 498, stylesheets/style.scss */

.home-slider .bx-prev {

  left: 33%;

  background-image: url(images/arrows_01.png);

}

/* line 502, stylesheets/style.scss */

.home-slider li {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.home-slider li:before, .home-slider li:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.home-slider li:after {

  clear: both;

}

/* line 504, stylesheets/style.scss */

.home-slider li aside.slide-content {

  width: 32%;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  padding: 30px 30px 0px;

  padding: 3rem 3rem 0rem;

  color: #fff;

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.home-slider li aside.slide-content:before, .home-slider li aside.slide-content:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.home-slider li aside.slide-content:after {

  clear: both;

}

@media only screen and (max-width: 25em) {

  /* line 504, stylesheets/style.scss */

  .home-slider li aside.slide-content {

    width: 100%;

  }

}

@media only screen and (max-width: 25em) {

  /* line 504, stylesheets/style.scss */

  .home-slider li aside.slide-content {

    padding: 30px;

    padding: 3rem;

  }

}

/* line 514, stylesheets/style.scss */

.home-slider li aside.slide-content h2 {

  font-size: 22px;

  line-height: 24px;

  font-size: 1.9rem;

  line-height: 2.2rem;

  font-weight: 300;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 519, stylesheets/style.scss */

.home-slider li aside.slide-content .title-clip {

  overflow: hidden;

  max-height: 72px;

  max-height: 7.2rem;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

@media only screen and (max-width: 65em) {

  /* line 519, stylesheets/style.scss */

  .home-slider li aside.slide-content .title-clip {

    display: none;

  }

}

/* line 527, stylesheets/style.scss */

.home-slider li aside.slide-content a.read-more {

  background: #e82c2d;

  display: block;

  color: #fff;

  text-decoration: none;

  padding: 10px 15px;

  padding: 1rem 1.5rem;

  float: left;

}

/* line 536, stylesheets/style.scss */

.home-slider li aside.slide-image {

  width: 68%;

  text-align: right;

}

/* line 539, stylesheets/style.scss */

.home-slider li aside.slide-image img {

  display: block;

}

@media only screen and (max-width: 25em) {

  /* line 536, stylesheets/style.scss */

  .home-slider li aside.slide-image {

    width: 100%;

  }

}



/* line 546, stylesheets/style.scss */

table {

  border: none !important;

  width: 100%;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 551, stylesheets/style.scss */

table tr td {

  padding: 10px;

  padding: 1rem;

  vertical-align: top;

}

/* line 558, stylesheets/style.scss */

table.variations tr td {

  padding: 5px 0px;

  padding: 0.5rem 0rem;

  vertical-align: middle;

}



/* line 565, stylesheets/style.scss */

.home-sidebar {

  width: 22%;

  margin-top: 40px;

  margin-top: 4rem;

}

@media only screen and (max-width: 65em) {

  /* line 565, stylesheets/style.scss */

  .home-sidebar {

    display: none;

  }

}

/* line 571, stylesheets/style.scss */

.home-sidebar img {

  margin-bottom: 15%;

}



/* line 575, stylesheets/style.scss */

.home-split {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.home-split:before, .home-split:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.home-split:after {

  clear: both;

}

/* line 577, stylesheets/style.scss */

.home-split aside {

  width: 48%;

}

/* line 53, stylesheets/reset.scss */

.home-split aside:nth-child(n) {

  margin-bottom: 4%;

  margin-right: 4%;

}

/* line 57, stylesheets/reset.scss */

.home-split aside:nth-child(2n) {

  margin-right: 0;

}

/* line 60, stylesheets/reset.scss */

.home-split aside:nth-child(2n+1) {

  clear: both;

}

@media only screen and (max-width: 25em) {

  /* line 577, stylesheets/style.scss */

  .home-split aside {

    width: 100%;

  }

}



/* line 582, stylesheets/style.scss */

.home-content {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.home-content:before, .home-content:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.home-content:after {

  clear: both;

}

/* line 584, stylesheets/style.scss */

.home-content aside {

  width: 30.66667%;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  *zoom: 1;

}

/* line 53, stylesheets/reset.scss */

.home-content aside:nth-child(n) {

  margin-bottom: 4%;

  margin-right: 4%;

}

/* line 57, stylesheets/reset.scss */

.home-content aside:nth-child(3n) {

  margin-right: 0;

}

/* line 60, stylesheets/reset.scss */

.home-content aside:nth-child(3n+1) {

  clear: both;

}

/* line 66, stylesheets/reset.scss */

.home-content aside:before, .home-content aside:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.home-content aside:after {

  clear: both;

}

@media only screen and (max-width: 65em) {

  /* line 589, stylesheets/style.scss */

  .home-content aside:first-child {

    width: 100%;

  }

  /* line 592, stylesheets/style.scss */

  .home-content aside:nth-child(2), .home-content aside:nth-child(3) {

    width: 48%;

  }

}

@media only screen and (max-width: 65em) and (max-width: 25em) {

  /* line 592, stylesheets/style.scss */

  .home-content aside:nth-child(2), .home-content aside:nth-child(3) {

    width: 100%;

  }

}



/* line 597, stylesheets/style.scss */

.home-content aside form {

  *zoom: 1;

  padding-top: 10px;

  padding-top: 1rem;

}

/* line 66, stylesheets/reset.scss */

.home-content aside form:before, .home-content aside form:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.home-content aside form:after {

  clear: both;

}

/* line 600, stylesheets/style.scss */

.home-content aside form label {

  float: left;

  display: block;

  width: 20%;

  margin-right: 5%;

  padding: 10px 0px;

  padding: 1rem 0rem;

  clear: left;

  margin-bottom: 5px;

  margin-bottom: 0.5rem;

}

/* line 609, stylesheets/style.scss */

.home-content aside form input[type="text"] {

  float: left;

  width: 75%;

  display: block;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  padding: 10px;

  padding: 1rem;

  font-size: 20px;

  line-height: 24px;

  font-size: 2rem;

  line-height: 2.4rem;

  background: #e5e5e5;

  color: #15377e;

  font-family: 'Open Sans', sans-serif;

  border: none;

  margin-bottom: 5px;

  margin-bottom: 0.5rem;

}

/* line 622, stylesheets/style.scss */

.home-content aside form input[type="submit"] {

  background: #e82c2d;
  
  color: #fff;

  font-family: 'Open Sans', sans-serif;

  border: none;

  -webkit-appearance: none;

  float: right;

  padding: 10px 15px;

  padding: 1rem 1.5rem;

  text-transform: uppercase;

  cursor: pointer;

}



/* Post Content */

/* line 639, stylesheets/style.scss */

#post-content {

  width: 65%;

  margin-right: 3.5%;

  padding: 40px 0px;

  padding: 4rem 0rem;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

}

@media only screen and (max-width: 25em) {

  /* line 639, stylesheets/style.scss */

  #post-content {

    width: 100%;

  }

}

/* line 645, stylesheets/style.scss */

#post-content .addthis_sharing_toolbox {

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 648, stylesheets/style.scss */

#post-content img, #post-content h2, #post-content h3, #post-content ul {

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 651, stylesheets/style.scss */

#post-content ul {

  margin-left: 30px;

  margin-left: 3rem;

}

/* line 653, stylesheets/style.scss */

#post-content ul li {

  list-style: disc;

}

/* line 656, stylesheets/style.scss */

#post-content ul.club-listings, #post-content ul.gform_fields {

  margin-left: 0;

}

/* line 658, stylesheets/style.scss */

#post-content ul.club-listings li, #post-content ul.gform_fields li {

  list-style: none;

}

/* line 663, stylesheets/style.scss */

#post-content ol {

  margin-left: 30px;

  margin-left: 3rem;

}

/* line 665, stylesheets/style.scss */

#post-content ol li {

  list-style: decimal;

}



/* line 670, stylesheets/style.scss */

#full-width, #tribe-events {

  width: 100%;

  padding: 40px 0px;

  padding: 4rem 0rem;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

}

/* line 674, stylesheets/style.scss */

#full-width .addthis_sharing_toolbox, #tribe-events .addthis_sharing_toolbox {

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 677, stylesheets/style.scss */

#full-width img, #full-width h2, #full-width h3, #full-width ul, #tribe-events img, #tribe-events h2, #tribe-events h3, #tribe-events ul {

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 680, stylesheets/style.scss */

#full-width ul, #tribe-events ul {

  margin-left: 30px;

  margin-left: 3rem;

}

/* line 682, stylesheets/style.scss */

#full-width ul li, #tribe-events ul li {

  list-style: disc;

}

/* line 686, stylesheets/style.scss */

#full-width table, #tribe-events table {

  border: none !important;

  width: 100%;

}

/* line 690, stylesheets/style.scss */

#full-width table tr td, #tribe-events table tr td {

  padding: 10px;

  padding: 1rem;

}



/* line 696, stylesheets/style.scss */

.column-area {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.column-area:before, .column-area:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.column-area:after {

  clear: both;

}

/* line 699, stylesheets/style.scss */

.column-area aside.col1of3 {

  width: 30.66667%;

}



@media only screen and (max-width: 65em) {

  /* line 353, stylesheets/style.scss */

	.column-area aside.col1of3 {

	  width: 100%;

  }

}



/* line 53, stylesheets/reset.scss */

.column-area aside.col1of3:nth-child(n) {

  margin-bottom: 4%;

  margin-right: 4%;

}

/* line 57, stylesheets/reset.scss */

.column-area aside.col1of3:nth-child(3n) {

  margin-right: 0;

}

/* line 60, stylesheets/reset.scss */

.column-area aside.col1of3:nth-child(3n+1) {

  clear: both;

}

/* line 702, stylesheets/style.scss */

.column-area aside.col1of2 {

  width: 48%;

}



@media only screen and (max-width: 65em) {

  /* line 353, stylesheets/style.scss */

	.column-area aside.col1of2 {

	  width: 100%;

  }

}



/* line 53, stylesheets/reset.scss */

.column-area aside.col1of2:nth-child(n) {

  margin-bottom: 4%;

  margin-right: 4%;

}

/* line 57, stylesheets/reset.scss */

.column-area aside.col1of2:nth-child(2n) {

  margin-right: 0;

}

/* line 60, stylesheets/reset.scss */

.column-area aside.col1of2:nth-child(2n+1) {

  clear: both;

}



/* line 708, stylesheets/style.scss */

h1.post-title, h1.page-title {

  color: #15377e;

  font-weight: 300;

  font-size: 35px;

  line-height: 40px;

  font-size: 3.5rem;

  line-height: 4rem;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 714, stylesheets/style.scss */

h1.product_title {

  color: #15377e;

  font-weight: 300;

  font-size: 35px;

  line-height: 40px;

  font-size: 3.5rem;

  line-height: 4rem;

}



/* line 720, stylesheets/style.scss */

#post-sidebar {

  width: 31.5%;

  padding: 40px 0px;

  padding: 4rem 0rem;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

}

/* line 724, stylesheets/style.scss */

#post-sidebar .widget {

  margin-bottom: 40px;

  margin-bottom: 4rem;

}

@media only screen and (max-width: 25em) {

  /* line 720, stylesheets/style.scss */

  #post-sidebar {

    width: 100%;

  }

}



/* News Styles */

/* line 733, stylesheets/style.scss */

.news article, .category article {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.news article:before, .news article:after, .category article:before, .category article:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.news article:after, .category article:after {

  clear: both;

}

/* line 735, stylesheets/style.scss */

.news article.feature-post, .category article.feature-post {

  margin-bottom: 25px;

  margin-bottom: 2.5rem;

}

/* line 738, stylesheets/style.scss */

.news article.standard-post, .category article.standard-post {

  float: left;

  width: 47.5%;

}

/* line 53, stylesheets/reset.scss */

.news article.standard-post:nth-child(n), .category article.standard-post:nth-child(n) {

  margin-bottom: 5%;

  margin-right: 5%;

}

/* line 57, stylesheets/reset.scss */

.news article.standard-post:nth-child(2n), .category article.standard-post:nth-child(2n) {

  margin-right: 0;

}

/* line 60, stylesheets/reset.scss */

.news article.standard-post:nth-child(2n+1), .category article.standard-post:nth-child(2n+1) {

  clear: both;

}

/* line 741, stylesheets/style.scss */

.news article.standard-post .title-clip, .category article.standard-post .title-clip {

  overflow: hidden;

  height: 45px;

  height: 4.5rem;

  margin-bottom: 10px;

  margin-bottom: 1rem;

}

/* line 745, stylesheets/style.scss */

.news article.standard-post .title-clip h2, .category article.standard-post .title-clip h2 {

  font-size: 20px;

  line-height: 22px;

  font-size: 2rem;

  line-height: 2.2rem;

  margin-bottom: 0;

}

/* line 750, stylesheets/style.scss */

.news article.standard-post aside, .category article.standard-post aside {

  width: 50%;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

}

/* line 753, stylesheets/style.scss */

.news article.standard-post aside:last-child, .category article.standard-post aside:last-child {

  padding-left: 20px;

  padding-left: 2rem;

}

/* line 758, stylesheets/style.scss */

.news article h2, .category article h2 {

  color: #15377e;

  font-weight: 300;

  font-size: 28px;

  line-height: 30px;

  font-size: 2.8rem;

  line-height: 3rem;

  margin-bottom: 10px;

  margin-bottom: 1rem;

}

/* line 763, stylesheets/style.scss */

.news article h2 a, .category article h2 a {

  color: #15377e;

  text-decoration: none;

}

/* line 768, stylesheets/style.scss */

.news article .excerpt-clip, .category article .excerpt-clip {

  overflow: hidden;

  height: 54px;

  height: 5.4rem;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 773, stylesheets/style.scss */

.news article span, .category article span {

  color: #e82c2d;

  display: block;

  margin-bottom: 10px;

  margin-bottom: 1rem;

}

/* line 778, stylesheets/style.scss */

.news article .read-more, .category article .read-more {

  padding: 5px 10px;

  padding: 0.5rem 1rem;

  background: #e82c2d;

  color: #fff;

  text-transform: uppercase;

  text-decoration: none;

  display: block;

  float: left;

}

/* line 788, stylesheets/style.scss */

.news .all-posts, .category .all-posts {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.news .all-posts:before, .news .all-posts:after, .category .all-posts:before, .category .all-posts:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.news .all-posts:after, .category .all-posts:after {

  clear: both;

}

/* line 791, stylesheets/style.scss */

.news .page-nav, .category .page-nav {

  float: right;

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.news .page-nav:before, .news .page-nav:after, .category .page-nav:before, .category .page-nav:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.news .page-nav:after, .category .page-nav:after {

  clear: both;

}

/* line 794, stylesheets/style.scss */

.news .page-nav span, .category .page-nav span {

  float: left;

  margin-left: 10px;

  margin-left: 1rem;

}

/* line 797, stylesheets/style.scss */

.news .page-nav span a, .category .page-nav span a {

  display: block;

  background: #e5e5e5;

  padding: 5px 10px;

  padding: 0.5rem 1rem;

  color: #4a4a4a;

  text-transform: uppercase;

  text-decoration: none;

}



/* line 809, stylesheets/style.scss */

.category article {

  padding: 20px;

  padding: 2rem;

  background: #ededed;

}



/* Widget Styles */

/* line 817, stylesheets/style.scss */

.widget {

  color: #15377e;

  font-size: 20px;

  line-height: 24px;

  font-size: 2rem;

  line-height: 2.4rem;

  font-weight: 300;

}

/* line 821, stylesheets/style.scss */

.widget a {

  color: #e82c2d;

  text-decoration: none;

}

/* line 825, stylesheets/style.scss */

.widget h2 {

  color: #e82c2d;

  text-transform: uppercase;

  font-weight: 800;

  font-size: 30px;

  line-height: 34px;

  font-size: 3rem;

  line-height: 3.4rem;

  margin-bottom: 10px;

  margin-bottom: 1rem;

}

/* line 832, stylesheets/style.scss */

.widget .rstw_link_user {

  position: relative;

  display: block;

  margin-top: 25px;

  margin-top: 2.5rem;

}

/* line 836, stylesheets/style.scss */

.widget .rstw_link_user:after {

  color: #15377e;

  content: "\f099";

  font-family: 'FontAwesome';

  position: absolute;

  right: 0;

  bottom: -10px;

  bottom: -1rem;

  font-size: 60px;

  line-height: 60px;

  font-size: 6rem;

  line-height: 6rem;

}

/* line 846, stylesheets/style.scss */

.widget .countdown_row {

  *zoom: 1;

  padding: 0;

}

/* line 66, stylesheets/reset.scss */

.widget .countdown_row:before, .widget .countdown_row:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.widget .countdown_row:after {

  clear: both;

}

/* line 849, stylesheets/style.scss */

.widget .countdown_row .countdown_section {

  color: #fff;

  font-weight: 100;

  background: #e82c2d;

  -webkit-border-radius: 5px;

  -moz-border-radius: 5px;

  -ms-border-radius: 5px;

  border-radius: 5px;

  display: block;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  padding: 10px;

  padding: 1rem;

  float: left;

  width: 23.5%;

}

/* line 53, stylesheets/reset.scss */

.widget .countdown_row .countdown_section:nth-child(n) {

  margin-bottom: 2%;

  margin-right: 2%;

}

/* line 57, stylesheets/reset.scss */

.widget .countdown_row .countdown_section:nth-child(4n) {

  margin-right: 0;

}

/* line 60, stylesheets/reset.scss */

.widget .countdown_row .countdown_section:nth-child(4n+1) {

  clear: both;

}

@media only screen and (max-width: 65em) {

  /* line 849, stylesheets/style.scss */

  .widget .countdown_row .countdown_section {

    width: 100%;

  }

}

/* line 862, stylesheets/style.scss */

.widget .countdown_row .countdown_section .countdown_amount {

  font-weight: 800;

}



/* Form Styles */

/* line 871, stylesheets/style.scss */

select {

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  background: url(images/select-arrow.png) center right no-repeat #ededed;

  color: #15377e;

  height: 30px;

  height: 3rem;

  border: none;

  -webkit-appearance: none;

  -moz-appearance: none;

  border-radius: 0;

  padding: 0px 50px 0px 10px;

  padding: 0rem 5rem 0rem 1rem;

}



/* line 882, stylesheets/style.scss */

input[type="button"] {

  border: none;

  -webkit-appearance: none;

  -moz-appearance: none;

  border-radius: 0;

  display: block;

  cursor: pointer;

}

/* line 889, stylesheets/style.scss */

input[type="button"].plus, input[type="button"].minus {

  width: 30px;

  height: 30px;

  text-indent: -10000px;

  float: left;

}

/* line 895, stylesheets/style.scss */

input[type="button"].plus {

  background: url(images/basket-ui_01.png) center center no-repeat;

}

/* line 898, stylesheets/style.scss */

input[type="button"].minus {

  background: url(images/basket-ui_02.png) center center no-repeat;

}



/* line 902, stylesheets/style.scss */

button[type="submit"], input[type="submit"] {

  background: #e82c2d!important;
  background-color: #e82c2d!important;
  
  color: #fff;

  clear: both;

  cursor: pointer;

  font-family: 'Open Sans', sans-serif;

  border: none;

  -webkit-appearance: none;

  -moz-appearance: none;

  border-radius: 0;

  padding: 0px 15px;

  padding: 0rem 1.5rem;

  font-size: 20px;

  line-height: 30px;

  font-size: 2rem;

  line-height: 3rem;

}



/* line 915, stylesheets/style.scss */

input[type="text"], input[type="email"], input[type="number"], textarea, input[type="password"] {

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  height: 30px;

  height: 3rem;

  padding: 0px 10px;

  padding: 0rem 1rem;

  font-size: 20px;

  line-height: 30px;

  font-size: 2rem;

  line-height: 3rem;

  font-family: 'Open Sans', sans-serif;

  color: #15377e;

  border: none;

  border-radius: 0;

  background: #ededed;

}

/* line 925, stylesheets/style.scss */

input[type="text"].qty, input[type="email"].qty, input[type="number"].qty, textarea.qty, input[type="password"].qty {

  float: left;

  width: 110px;

  width: 11rem;

  margin: 0px 5px;

  margin: 0rem 0.5rem;

}



/* Shop Styles */

/* line 935, stylesheets/style.scss */

.demo_store {

  position: fixed;

  display: none;

  z-index: 2000;

  background: #15377e;

  color: #fff;

  font-size: 20px;

  line-height: 24px;

  font-size: 2rem;

  line-height: 2.4rem;

  padding: 20px;

  padding: 2rem;

  margin: 0 auto;

  top: 50%;

  width: 100%;

  text-align: center;

}



/* line 949, stylesheets/style.scss */

.woocommerce-content {

  padding: 40px 0px;

  padding: 4rem 0rem;

}

/* line 951, stylesheets/style.scss */

.woocommerce-content .woocommerce {

  padding: 0;

}



/* line 955, stylesheets/style.scss */

.woocommerce {

  *zoom: 1;

  padding: 40px 0px;

  padding: 4rem 0rem;

}

/* line 66, stylesheets/reset.scss */

.woocommerce:before, .woocommerce:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce:after {

  clear: both;

}

/* line 958, stylesheets/style.scss */

.woocommerce .col2-set {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .col2-set:before, .woocommerce .col2-set:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .col2-set:after {

  clear: both;

}

/* line 960, stylesheets/style.scss */

.woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2 {

  width: 47.5%;

  float: left;

}

@media only screen and (max-width: 25em) {

  /* line 960, stylesheets/style.scss */

  .woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2 {

    width: 100%;

  }

}

/* line 965, stylesheets/style.scss */

.woocommerce .col2-set .col-1 {

  margin-right: 5%;

}

@media only screen and (max-width: 25em) {

  /* line 965, stylesheets/style.scss */

  .woocommerce .col2-set .col-1 {

    margin-right: 0;

  }

}

/* line 972, stylesheets/style.scss */

.woocommerce h2 {

  color: #15377e;

  margin-bottom: 10px;

  margin-bottom: 1rem;

}

/* line 976, stylesheets/style.scss */

.woocommerce form {

  width: 100%;

}

/* line 978, stylesheets/style.scss */

.woocommerce form.woocommerce-ordering {

  width: auto;

}

/* line 981, stylesheets/style.scss */

.woocommerce form.checkout {

  width: 100%;

}

/* line 984, stylesheets/style.scss */

.woocommerce form .chosen-container {

  width: 100% !important;

}

/* line 988, stylesheets/style.scss */

.woocommerce form p label {

  display: block;

}

/* line 991, stylesheets/style.scss */

.woocommerce form p input, .woocommerce form p textarea {

  width: 100%;

}

/* line 994, stylesheets/style.scss */

.woocommerce form p textarea {

  height: 90px;

  height: 9rem;

}

/* line 999, stylesheets/style.scss */

.woocommerce .woocommerce-message {

  background: #e82c2d;

  *zoom: 1;

  color: #fff;

  padding: 10px;

  padding: 1rem;

  margin-bottom: 20px;

  margin-bottom: 2rem;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .woocommerce-message:before, .woocommerce .woocommerce-message:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .woocommerce-message:after {

  clear: both;

}

/* line 1005, stylesheets/style.scss */

.woocommerce .woocommerce-message a {

  float: right;

  color: #fff;

  text-decoration: none;

}

/* line 1009, stylesheets/style.scss */

.woocommerce .woocommerce-message a:before {

  content: "\f07a ";

  font-family: 'FontAwesome';

  margin-right: 5px;

  margin-right: 0.5rem;

}

/* line 1016, stylesheets/style.scss */

.woocommerce .woocommerce-result-count {

  float: left;

  display: block;

}

/* line 1020, stylesheets/style.scss */

.woocommerce .woocommerce-ordering {

  float: right;

  display: block;

  margin-top: -6px;

  margin-top: -0.6rem;

}

/* line 1025, stylesheets/style.scss */

.woocommerce .products {

  *zoom: 1;

  clear: both;

  border-top: 1px solid #15377e;

  margin-top: 20px;

  margin-top: 2rem;

  padding-top: 20px;

  padding-top: 2rem;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .products:before, .woocommerce .products:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .products:after {

  clear: both;

}

/* line 1031, stylesheets/style.scss */

.woocommerce .products li {

  width: 32%;

  float: left;

  display: block;

  text-align: center;

  position: relative;

}

/* line 53, stylesheets/reset.scss */

.woocommerce .products li:nth-child(n) {

  margin-bottom: 2%;

  margin-right: 2%;

}

/* line 57, stylesheets/reset.scss */

.woocommerce .products li:nth-child(3n) {

  margin-right: 0;

}

/* line 60, stylesheets/reset.scss */

.woocommerce .products li:nth-child(3n+1) {

  clear: both;

}

@media only screen and (max-width: 25em) {

  /* line 1031, stylesheets/style.scss */

  .woocommerce .products li {

    width: 100%;

  }

}

/* line 1038, stylesheets/style.scss */

.woocommerce .products li.products {

  clear: none;

  margin-top: 0;

  padding-top: 0;

  border-top: none;

}

/* line 1044, stylesheets/style.scss */

.woocommerce .products li .star-rating {

  display: none;

}

/* line 1047, stylesheets/style.scss */

.woocommerce .products li a {

  color: #15377e;

  text-decoration: none;

}

/* line 1050, stylesheets/style.scss */

.woocommerce .products li a.button {

  display: block;

  width: 80%!important;

  margin: 10px 10%;

  margin: 1rem 10%;

  background: #e82c2d;

  color: #fff;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  padding: 10px;

  padding: 1rem;

}

/* line 1059, stylesheets/style.scss */

.woocommerce .products li a.button:hover {

  opacity: 0.8;

  filter: alpha(opacity=80);

}

/* line 1063, stylesheets/style.scss */

.woocommerce .products li a img {

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  -webkit-border-radius: 2px;

  -moz-border-radius: 2px;

  -ms-border-radius: 2px;

  border-radius: 2px;

  border: 1px solid #dadada;

}

/* line 1071, stylesheets/style.scss */

.woocommerce .page-numbers {

  float: right;

}

/* line 1073, stylesheets/style.scss */

.woocommerce .page-numbers li {

  float: left;

  margin-left: 5px;

  margin-left: 0.5rem;

}

/* line 1076, stylesheets/style.scss */

.woocommerce .page-numbers li a, .woocommerce .page-numbers li span {

  display: block;

  padding: 0px 5px;

  padding: 0rem 0.5rem;

  color: #fff;

}

/* line 1081, stylesheets/style.scss */

.woocommerce .page-numbers li a {

  background: #e82c2d;

  text-decoration: none;

}

/* line 1085, stylesheets/style.scss */

.woocommerce .page-numbers li span {

  background: #15377e;

}

/* line 1090, stylesheets/style.scss */

.woocommerce .onsale {

  position: absolute;

  top: 0;

  left: 0;

  width: 87px;

  height: 88px;

  background: url(images/sale-message.png) top left no-repeat;

  text-indent: -10000px;

}

/* line 1099, stylesheets/style.scss */

.woocommerce .product {

  position: relative;

}

/* line 1102, stylesheets/style.scss */

.woocommerce .images {

  float: left;

  width: 40%!important;

  margin-right: 5%;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  -webkit-border-radius: 2px;

  -moz-border-radius: 2px;

  -ms-border-radius: 2px;

  border-radius: 2px;

  border: 1px solid #dadada;

}

@media only screen and (max-width: 25em) {

  /* line 1102, stylesheets/style.scss */

  .woocommerce .images {

    width: 100%;

  }

}

/* line 1110, stylesheets/style.scss */

.woocommerce .images img {

  display: block;

  margin-bottom: 0 !important;

}

/* line 1115, stylesheets/style.scss */

.woocommerce .images .thumbnails a {

  width: 23.5%;

  float: left;

  display: block;

}

/* line 53, stylesheets/reset.scss */

.woocommerce .images .thumbnails a:nth-child(n) {

  margin-bottom: 2%;

  margin-right: 2%;

}

/* line 57, stylesheets/reset.scss */

.woocommerce .images .thumbnails a:nth-child(4n) {

  margin-right: 0;

}

/* line 60, stylesheets/reset.scss */

.woocommerce .images .thumbnails a:nth-child(4n+1) {

  clear: both;

}

/* line 1122, stylesheets/style.scss */

.woocommerce .summary {

  width: 55%!important;

  float: left;

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .summary:before, .woocommerce .summary:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .summary:after {

  clear: both;

}

@media only screen and (max-width: 25em) {

  /* line 1122, stylesheets/style.scss */

  .woocommerce .summary {

    width: 100%;

  }

}

/* line 1127, stylesheets/style.scss */

.woocommerce .summary form {

  *zoom: 1;

  padding: 15px 0px;

  padding: 1.5rem 0rem;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .summary form:before, .woocommerce .summary form:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .summary form:after {

  clear: both;

}

/* line 1130, stylesheets/style.scss */

.woocommerce .summary form table {

  margin-bottom: 5px;

  margin-bottom: 0.5rem;

}

/* line 1133, stylesheets/style.scss */

.woocommerce .summary form table td:nth-child(2n) {

  padding: 5px 10px;

  padding: 0.5rem 1rem;

}

/* line 1138, stylesheets/style.scss */

.woocommerce .summary form button[type="submit"] {

  float: left;

  clear: both;

  margin-top: 15px;

  margin-top: 1.5rem;

}

/* line 1144, stylesheets/style.scss */

.woocommerce .summary .price {

  color: #e82c2d;

  font-size: 20px;

  line-height: 24px;

  font-size: 2rem;

  line-height: 2.4rem;

}

/* line 1148, stylesheets/style.scss */

.woocommerce .summary .product_meta {

  clear: both;

}

/* line 1151, stylesheets/style.scss */

.woocommerce .summary a {

  color: #15377e;

  text-decoration: none;

}

/* line 1156, stylesheets/style.scss */

.woocommerce .woocommerce-tabs {

  padding-top: 20px;

  padding-top: 2rem;

  clear: both;

}

/* line 1159, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .tabs {

  *zoom: 1;

  border-bottom: 1px solid #15377e;

  margin-bottom: 20px;

  margin-bottom: 2rem;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  margin-left: 0 !important;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .woocommerce-tabs .tabs:before, .woocommerce .woocommerce-tabs .tabs:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .woocommerce-tabs .tabs:after {

  clear: both;

}

/* line 1165, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .tabs li {

  display: block;

  float: left;

  padding: 0px 10px 5px;

  padding: 0rem 1rem 0.5rem;

  border-left: 1px solid #15377e;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  width: auto;

  margin: 0 !important;

}

/* line 1173, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .tabs li:first-child {

  padding-left: 0;

  border-left: none;

}

/* line 1178, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .tabs li.active a {

  color: #e82c2d;

  font-weight: bold;

}

/* line 1183, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .tabs li a {

  color: #15377e;

  text-decoration: none;

}

/* line 1189, stylesheets/style.scss */

.woocommerce .woocommerce-tabs h2 {

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 1192, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment_container {

  *zoom: 1;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

  padding-bottom: 15px;

  padding-bottom: 1.5rem;

  border-bottom: 1px solid #e82c2d;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .woocommerce-tabs .comment_container:before, .woocommerce .woocommerce-tabs .comment_container:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .woocommerce-tabs .comment_container:after {

  clear: both;

}

/* line 1197, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment_container img {

  float: left;

  margin-right: 5%;

  width: 8%;

}

/* line 1202, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment_container .comment-text {

  width: 87%;

  float: left;

}

/* line 1208, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment-respond h3 {

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 1211, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment-respond .comment-form-author, .woocommerce .woocommerce-tabs .comment-respond .comment-form-email {

  *zoom: 1;

  margin-bottom: 5px;

  margin-bottom: 0.5rem;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .woocommerce-tabs .comment-respond .comment-form-author:before, .woocommerce .woocommerce-tabs .comment-respond .comment-form-author:after, .woocommerce .woocommerce-tabs .comment-respond .comment-form-email:before, .woocommerce .woocommerce-tabs .comment-respond .comment-form-email:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .woocommerce-tabs .comment-respond .comment-form-author:after, .woocommerce .woocommerce-tabs .comment-respond .comment-form-email:after {

  clear: both;

}

/* line 1214, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment-respond .comment-form-author label, .woocommerce .woocommerce-tabs .comment-respond .comment-form-email label {

  width: 8%;

  display: block;

  float: left;

  font-size: 14px;

  line-height: 30px;

  font-size: 1.4rem;

  line-height: 3rem;

}

/* line 1220, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment-respond .comment-form-author input, .woocommerce .woocommerce-tabs .comment-respond .comment-form-email input {

  width: 92%;

  float: left;

}

/* line 1225, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment-respond .stars {

  *zoom: 1;

  padding: 5px 0px;

  padding: 0.5rem 0rem;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .woocommerce-tabs .comment-respond .stars:before, .woocommerce .woocommerce-tabs .comment-respond .stars:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .woocommerce-tabs .comment-respond .stars:after {

  clear: both;

}

/* line 1228, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment-respond .stars a {

  float: left;

  display: block;

  color: #fff;

  text-decoration: none;

  background: #15377e;

  padding: 3px 5px;

  padding: 0.3rem 0.5rem;

  margin-right: 5px;

  margin-right: 0.5rem;

}

/* line 1236, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment-respond .stars a.active {

  background: #e82c2d;

}

/* line 1242, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment-respond .comment-form-comment label {

  display: block;

  margin-bottom: 5px;

  margin-bottom: 0.5rem;

}

/* line 1246, stylesheets/style.scss */

.woocommerce .woocommerce-tabs .comment-respond .comment-form-comment textarea {

  width: 100%;

  height: 210px;

  height: 21rem;

}

/* line 1253, stylesheets/style.scss */

.woocommerce .shop_table {

  width: 47.5%;

}

/* line 1255, stylesheets/style.scss */

.woocommerce .shop_table.cart {

  width: 100%;

}

/* line 1258, stylesheets/style.scss */

.woocommerce .shop_table.cart tr td {

  padding: 0;

}

/* line 1264, stylesheets/style.scss */

.woocommerce .shop_table thead tr {

  background: #15377e;

  color: #fff;

}

/* line 1267, stylesheets/style.scss */

.woocommerce .shop_table thead tr th {

  padding: 10px;

  padding: 1rem;

}

/* line 1272, stylesheets/style.scss */

.woocommerce .shop_table tfoot {

  border-bottom: 2px solid #15377e;

}

/* line 1274, stylesheets/style.scss */

.woocommerce .shop_table tfoot tr th {

  padding: 10px;

  padding: 1rem;

  text-align: right;

}

/* line 1278, stylesheets/style.scss */

.woocommerce .shop_table tfoot tr td {

  text-align: left;

  padding: 10px;

  padding: 1rem;

}

/* line 1285, stylesheets/style.scss */

.woocommerce .shop_table tr {

  background: #fff;

}

/* line 1287, stylesheets/style.scss */

.woocommerce .shop_table tr.cart_item {

  padding: 10px 0px;

  padding: 1rem 0rem;

  border-bottom: 1px solid #15377e;

}

/* line 1291, stylesheets/style.scss */

.woocommerce .shop_table tr td {

  text-align: center;

  padding: 10px;

  padding: 1rem;

}

/* line 1294, stylesheets/style.scss */

.woocommerce .shop_table tr td img {

  display: block;

  max-width: 90px;

  max-width: 9rem;

  max-height: 90px;

  max-height: 9rem;

}

/* line 1299, stylesheets/style.scss */

.woocommerce .shop_table tr td a {

  color: #15377e;

  text-decoration: none;

}

/* line 1302, stylesheets/style.scss */

.woocommerce .shop_table tr td a.remove {

  width: 30px;

  height: 30px;

  text-indent: -10000px;

  float: left;

  background: url(images/basket-ui_03.png) center center no-repeat;

}

/* line 1310, stylesheets/style.scss */

.woocommerce .shop_table tr td.product-quantity {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .shop_table tr td.product-quantity:before, .woocommerce .shop_table tr td.product-quantity:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .shop_table tr td.product-quantity:after {

  clear: both;

}

/* line 1312, stylesheets/style.scss */

.woocommerce .shop_table tr td.product-quantity .quantity {

  display: inline-block;

  margin: 0 auto;

}

/* line 1317, stylesheets/style.scss */

.woocommerce .shop_table tr td .coupon {

  float: right;

  padding: 10px 0px;

  padding: 1rem 0rem;

}

/* line 1320, stylesheets/style.scss */

.woocommerce .shop_table tr td .coupon input[type="submit"] {

  float: none;

  clear: none;

  margin-bottom: 0;

}

/* line 1326, stylesheets/style.scss */

.woocommerce .shop_table tr td input[type="submit"] {

  float: right;

  clear: right;

  margin-bottom: 10px;

  margin-bottom: 1rem;

}

/* line 1334, stylesheets/style.scss */

.woocommerce .cart-collaterals {

  *zoom: 1;

  margin-bottom: 20px;

  margin-bottom: 2rem;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .cart-collaterals:before, .woocommerce .cart-collaterals:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .cart-collaterals:after {

  clear: both;

}

/* line 1337, stylesheets/style.scss */

.woocommerce .cart-collaterals .cross-sells {

  display: none;

}

/* line 1340, stylesheets/style.scss */

.woocommerce .cart-collaterals .cart_totals {

  float: right;

}

/* line 1342, stylesheets/style.scss */

.woocommerce .cart-collaterals .cart_totals h2 {

  background: #15377e;

  color: #fff;

  padding: 10px;

  padding: 1rem;

}

/* line 1348, stylesheets/style.scss */

.woocommerce .cart-collaterals .cart_totals table tr {

  padding: 10px 0px;

  padding: 1rem 0rem;

  background: #eee;

  border-bottom: 2px solid #fff;

}

/* line 1352, stylesheets/style.scss */

.woocommerce .cart-collaterals .cart_totals table tr th {

  text-align: right;

  padding: 10px;

  padding: 1rem;

}

/* line 1356, stylesheets/style.scss */

.woocommerce .cart-collaterals .cart_totals table tr td {

  padding: 10px;

  padding: 1rem;

}

/* line 1362, stylesheets/style.scss */

.woocommerce .cart-collaterals form {

  display: none;

}

/* line 1366, stylesheets/style.scss */

.woocommerce .woocommerce-info {

  background: #15377e;

  padding: 10px;

  padding: 1rem;

  color: #fff;

  *zoom: 1;

  margin-bottom: 20px;

  margin-bottom: 2rem;

}

/* line 66, stylesheets/reset.scss */

.woocommerce .woocommerce-info:before, .woocommerce .woocommerce-info:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce .woocommerce-info:after {

  clear: both;

}

/* line 1372, stylesheets/style.scss */

.woocommerce .woocommerce-info a {

  color: #fff;

}

/* line 1378, stylesheets/style.scss */

.woocommerce form.checkout_coupon p {

  float: left;

}

/* line 1383, stylesheets/style.scss */

.woocommerce h3 {

  color: #15377e;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 1387, stylesheets/style.scss */

.woocommerce #payment {

  *zoom: 1;

  padding: 20px 0px 0px;

  padding: 2rem 0rem 0rem;

}

/* line 66, stylesheets/reset.scss */

.woocommerce #payment:before, .woocommerce #payment:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.woocommerce #payment:after {

  clear: both;

}

/* line 1390, stylesheets/style.scss */

.woocommerce #payment img {

  display: none;

}

/* line 1393, stylesheets/style.scss */

.woocommerce #payment .payment_box {

  margin-bottom: 5px;

  margin-bottom: 0.5rem;

}

/* line 1395, stylesheets/style.scss */

.woocommerce #payment .payment_box p {

  padding-left: 20px;

  padding-left: 2rem;

}

/* line 1399, stylesheets/style.scss */

.woocommerce #payment input[type="submit"] {

  margin-top: 20px;

  margin-top: 2rem;

}



/* Club Registration Form */

/* line 1406, stylesheets/style.scss */

.gform_validation_container {

  display: none;

}



/* line 1410, stylesheets/style.scss */

#field_2_1 .gfield_label {

  display: none;

}

/* line 1413, stylesheets/style.scss */

#field_2_1 li {

  margin-bottom: 20px;

  margin-bottom: 2rem;

}

/* line 1415, stylesheets/style.scss */

#field_2_1 li input {

  margin-right: 10px;

  margin-right: 1rem;

}



/* line 1420, stylesheets/style.scss */

#field_4_1 {

  *zoom: 1;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 66, stylesheets/reset.scss */

#field_4_1:before, #field_4_1:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

#field_4_1:after {

  clear: both;

}

/* line 1423, stylesheets/style.scss */

#field_4_1 label {

  float: left;

  font-size: 14px;

  line-height: 30px;

  font-size: 1.4rem;

  line-height: 3rem;

  margin-right: 10px;

  margin-right: 1rem;

  display: block;

  width: 121px;

  width: 12.1rem;

}

/* line 1430, stylesheets/style.scss */

#field_4_1 .ginput_container {

  float: left;

  display: block;

  width: 166px;

  width: 16.6rem;

}

/* line 1434, stylesheets/style.scss */

#field_4_1 .ginput_container select {

  width: 100%;

}



/* line 1440, stylesheets/style.scss */

a.reset_variations {

  display: none !important;

}



/* line 1445, stylesheets/style.scss */

#gform_fields_1 h3, #gform_fields_11 h3 {

  color: #e82c2d;

}

/* line 1448, stylesheets/style.scss */

#gform_fields_1 li, #gform_fields_11 li {

  width: 47.5%;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

  display: block;

}

/* line 1452, stylesheets/style.scss */

#gform_fields_1 li input, #gform_fields_1 li textarea, #gform_fields_1 li select, #gform_fields_11 li input, #gform_fields_11 li textarea, #gform_fields_11 li select {

  width: 100%;

}

/* line 1455, stylesheets/style.scss */

#gform_fields_1 li label, #gform_fields_11 li label {

  display: block;

  margin-bottom: 5px;

  margin-bottom: 0.5rem;

  color: #15377e;

}

/* line 1460, stylesheets/style.scss */

#gform_fields_1 li textarea, #gform_fields_11 li textarea {

  height: 200px;

}

/* line 1463, stylesheets/style.scss */

#gform_fields_1 li.full-width, #gform_fields_11 li.full-width {

  width: 100%;

}

/* line 1466, stylesheets/style.scss */

#gform_fields_1 li.split-left, #gform_fields_11 li.split-left {

  float: left;

}

/* line 1469, stylesheets/style.scss */

#gform_fields_1 li.split-right, #gform_fields_11 li.split-right {

  float: right;

  clear: none;

}

/* line 1474, stylesheets/style.scss */

#gform_fields_1 li ul li, #gform_fields_11 li ul li {

  margin-bottom: 0;

}

/* line 1476, stylesheets/style.scss */

#gform_fields_1 li ul li input, #gform_fields_11 li ul li input {

  width: auto;

  margin-right: 10px;

  margin-right: 1rem;

}

/* line 1480, stylesheets/style.scss */

#gform_fields_1 li ul li label, #gform_fields_11 li ul li label {

  display: inline;

  margin-bottom: 0;

  color: #4d4d4d;

}



/* Events Calendar */

/* line 1492, stylesheets/style.scss */

#tribe-events-pg-template {

  width: 90%;

  max-width: 1160px !important;

}

/* line 1495, stylesheets/style.scss */

#tribe-events-pg-template .tribe-events-back {

  margin: 40px 0px 0px;

  margin: 4rem 0rem 0rem;

}

/* line 1498, stylesheets/style.scss */

#tribe-events-pg-template h2 {

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 1500, stylesheets/style.scss */

#tribe-events-pg-template h2.tribe-events-single-event-title {

  color: #15377e;

  font-weight: 300;

  font-size: 35px;

  line-height: 40px;

  font-size: 3.5rem;

  line-height: 4rem;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 1507, stylesheets/style.scss */

#tribe-events-pg-template .tribe-events-button {

  background: #e82c2d !important;

  color: #fff;

}

/* line 1510, stylesheets/style.scss */

#tribe-events-pg-template .tribe-events-button:hover {

  opacity: 0.8;

  filter: alpha(opacity=80);

  color: white !important;

}

/* line 1515, stylesheets/style.scss */

#tribe-events-pg-template .tribe-events-cal-links {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

#tribe-events-pg-template .tribe-events-cal-links:before, #tribe-events-pg-template .tribe-events-cal-links:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

#tribe-events-pg-template .tribe-events-cal-links:after {

  clear: both;

}

/* line 1517, stylesheets/style.scss */

#tribe-events-pg-template .tribe-events-cal-links a {

  float: left !important;

  margin: 0px 10px 0px 0px;

  margin: 0rem 1rem 0rem 0rem;

  clear: none;

}



/* Events Single Page */

/* line 1527, stylesheets/style.scss */

#tribe-events .tribe-events-single #post-content, #tribe-events .tribe-events-single #post-sidebar {

  padding: 0px 0px 40px;

  padding: 0rem 0rem 4rem;

}

/* line 1530, stylesheets/style.scss */

#tribe-events .tribe-events-single .tribe-events-event-meta {

  width: 100%;

}

/* line 1532, stylesheets/style.scss */

#tribe-events .tribe-events-single .tribe-events-event-meta .tribe-events-meta-group {

  padding: 0 !important;

  width: 100%;

}

/* line 1536, stylesheets/style.scss */

#tribe-events .tribe-events-single .tribe-events-event-meta .tribe-events-meta-group dl dt {

  float: left;

  color: #15377e;

  font-weight: 700;

  clear: left;

  margin-right: 10px;

  margin-right: 1rem;

}

/* line 1543, stylesheets/style.scss */

#tribe-events .tribe-events-single .tribe-events-event-meta .tribe-events-meta-group dl dd {

  float: left;

}

/* line 1545, stylesheets/style.scss */

#tribe-events .tribe-events-single .tribe-events-event-meta .tribe-events-meta-group dl dd.author {

  color: #15377e;

  margin-right: 10px;

  margin-right: 1rem;

  font-weight: 700;

}

/* line 1550, stylesheets/style.scss */

#tribe-events .tribe-events-single .tribe-events-event-meta .tribe-events-meta-group dl dd.location {

  clear: left;

}

/* line 1557, stylesheets/style.scss */

#tribe-events .tribe-events-single form {

  clear: both;

}

/* line 1561, stylesheets/style.scss */

#tribe-events .tribe-events-single form table tr:first-child {

  background: #ededed !important;

  color: #4d4d4d !important;

}

/* line 1567, stylesheets/style.scss */

#tribe-events .tribe-events-single form input[type="number"] {

  background: #fff;

}



/* Login Area */

/* line 1576, stylesheets/style.scss */

.lightbox-overlay {

  display: none;

}

/* line 1579, stylesheets/style.scss */

.product-cat-membership .lightbox-overlay#member-register {

  display: block;

}

/* line 1581, stylesheets/style.scss */

.product-cat-membership .lightbox-overlay#member-register form {

  padding: 0;

}

/* line 1586, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg {

  width: 100%;

  min-height: 100%;

  background: rgba(0, 0, 0, 0.5);

  position: fixed;

  top: 0;

  left: 0;

  z-index: 500;

  display: table;

}

/* line 1595, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container {

  display: table-cell;

  vertical-align: middle;

  width: 100%;

}

/* line 1600, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .close-button.icon {

  position: absolute;

  top: 20px;

  top: 2rem;

  left: 50%;

  margin-left: 300px;

  margin-left: 30rem;

  z-index: 3000;

}

/* line 1608, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form {

  max-width: 600px;

  max-width: 60rem;

  width: 90%;

  margin: 0 auto;

  background: #fff;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  padding: 40px;

  padding: 4rem;

  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);

  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);

  *zoom: 1;

  position: relative;

  max-height: 500px;

  max-height: 50rem;

  overflow: auto;

}

/* line 66, stylesheets/reset.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login:before, .lightbox-overlay .lightbox-bg .lightbox-container .bwl-login:after, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form:before, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login:after, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form:after {

  clear: both;

}

/* line 1621, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login input[type="text"], .lightbox-overlay .lightbox-bg .lightbox-container .bwl-login input[type="password"], .lightbox-overlay .lightbox-bg .lightbox-container .registration-form input[type="text"], .lightbox-overlay .lightbox-bg .lightbox-container .registration-form input[type="password"] {

  width: 100%;

}

/* line 1624, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner {

  border: none !important;

  box-shadow: none !important;

}

/* line 1627, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner .upme-widget-head, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner .upme-widget-head {

  display: none;

}

/* line 1630, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner .upme-widget-main, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner .upme-widget-main {

  padding: 20px 0px 0px;

  padding: 2rem 0rem 0rem;

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner .upme-widget-main:before, .lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner .upme-widget-main:after, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner .upme-widget-main:before, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner .upme-widget-main:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner .upme-widget-main:after, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner .upme-widget-main:after {

  clear: both;

}

/* line 1633, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner .upme-widget-main label, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner .upme-widget-main label {

  float: left;

  display: block;

  padding-top: 5px;

  padding-top: 0.5rem;

}

/* line 1637, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner .upme-widget-main label.upme-widget-link-separator, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner .upme-widget-main label.upme-widget-link-separator {

  float: none;

  display: inline-block;

}

/* line 1642, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner .upme-widget-main input[type="text"], .lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner .upme-widget-main input[type="password"], .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner .upme-widget-main input[type="text"], .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner .upme-widget-main input[type="password"] {

  width: 93% !important;

  border: none !important;

  box-shadow: none !important;

  background: #ededed !important;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  -ms-border-radius: 0;

  border-radius: 0;

  float: right;

}

/* line 1650, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner .upme-widget-main input[type="submit"], .lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .upme-inner .upme-widget-main input[type="button"], .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner .upme-widget-main input[type="submit"], .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .upme-inner .upme-widget-main input[type="button"] {

  background: #e82c2d !important;

  color: white !important;

  font-family: "Open Sans", sans-serif !important;

  border: none !important;

  -webkit-appearance: none !important;

  float: right !important;

  padding: 10px 15px;

  padding: 1rem 1.5rem;

  text-transform: uppercase !important;

  cursor: pointer !important;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  -ms-border-radius: 0;

  border-radius: 0;

}

/* line 1664, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login #login-options, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form #login-options {

  text-align: center;

  margin-top: 20px;

  margin-top: 2rem;

}

/* line 1667, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login #login-options li, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form #login-options li {

  display: inline-block;

  padding: 10px;

  padding: 1rem;

}

/* line 1672, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .accordion-trigger, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .accordion-trigger {

  background: #e82c2d;

  color: #fff;

  padding: 5px 10px;

  padding: 0.5rem 1rem;

  display: block;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  width: 100%;

  font-size: 20px;

  line-height: 24px;

  font-size: 2rem;

  line-height: 2.4rem;

  font-weight: 800;

  text-transform: uppercase;

  *zoom: 1;

  margin-bottom: 10px;

  margin-bottom: 1rem;

}

/* line 66, stylesheets/reset.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .accordion-trigger:before, .lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .accordion-trigger:after, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .accordion-trigger:before, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .accordion-trigger:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .accordion-trigger:after, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .accordion-trigger:after {

  clear: both;

}

/* line 1684, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .accordion-trigger:after, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .accordion-trigger:after {

  float: right;

  content: "\f054";

  display: inline-block;

  font-family: FontAwesome;

  font-style: normal;

  font-weight: normal;

  -webkit-font-smoothing: antialiased;

}

/* line 1690, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .accordion-trigger.active:after, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .accordion-trigger.active:after {

  content: "\f078";

}

/* line 1695, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .accordion-content, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .accordion-content {

  padding: 10px 0px 20px;

  padding: 1rem 0rem 2rem;

  display: none;

}

/* line 1698, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container .bwl-login .accordion-content.open, .lightbox-overlay .lightbox-bg .lightbox-container .registration-form .accordion-content.open {

  display: block;

}

/* line 1703, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container #wizard-close {

  position: absolute;

  top: -6px;

  top: -0.6rem;

  right: -6px;

  right: -0.6rem;

  color: #15377e;

  font-size: 30px;

  line-height: 30px;

  font-size: 3rem;

  line-height: 3rem;

}

/* line 1710, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container form {

  padding: 20px 0px 0px;

  padding: 2rem 0rem 0rem;

}

/* line 1712, stylesheets/style.scss */

.lightbox-overlay .lightbox-bg .lightbox-container form aside {

  width: 100%;

}



/* Splash Page */

/* line 1722, stylesheets/style.scss */

.splash-content {

  margin: 600px 0px 50px;

  margin: 60rem 0rem 5rem;

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.splash-content:before, .splash-content:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.splash-content:after {

  clear: both;

}

/* line 1725, stylesheets/style.scss */

.splash-content .splash-main {

  width: 70%;

  margin-right: 5%;

  font-size: 30px;

  line-height: 34px;

  font-size: 3rem;

  line-height: 3.4rem;

}

/* line 1728, stylesheets/style.scss */

.splash-content .splash-main h1 {

  text-transform: uppercase;

  font-size: 30px;

  line-height: 34px;

  font-size: 3rem;

  line-height: 3.4rem;

  font-weight: 700;

}

/* line 1735, stylesheets/style.scss */

.splash-content .splash-buttons {

  width: 25%;

}

/* line 1737, stylesheets/style.scss */

.splash-content .splash-buttons a {

  display: block;

  width: 100%;

  text-align: center;

  color: #fff;

  padding: 10px;

  padding: 1rem;

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  background: #e82c2d;

  margin-bottom: 20px;

  margin-bottom: 2rem;

  font-size: 26px;

  line-height: 30px;

  font-size: 2.6rem;

  line-height: 3rem;

  text-transform: uppercase;

}

/* line 1748, stylesheets/style.scss */

.splash-content .splash-buttons a:last-child {

  background: #15377e;

}



/* Club Finder Styles */

/* line 1757, stylesheets/style.scss */

.club-listings {

  *zoom: 1;

  padding: 20px 0px;

  padding: 2rem 0rem;

}

/* line 66, stylesheets/reset.scss */

.club-listings:before, .club-listings:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.club-listings:after {

  clear: both;

}

/* line 1760, stylesheets/style.scss */

.club-listings li {

  *zoom: 1;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

  padding-bottom: 15px;

  padding-bottom: 1.5rem;

  border-bottom: 1px solid #15377e;

}

/* line 66, stylesheets/reset.scss */

.club-listings li:before, .club-listings li:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.club-listings li:after {

  clear: both;

}

/* line 1765, stylesheets/style.scss */

.club-listings li:last-child {

  border-bottom: none;

}

/* line 1768, stylesheets/style.scss */

.club-listings li h2 {

  color: #15377e;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 1773, stylesheets/style.scss */

.club-listings li aside.map {

  margin-right: 20px;

  margin-right: 2rem;

}

/* line 1776, stylesheets/style.scss */

.club-listings li aside.club-overview {

  *zoom: 1;

}

/* line 66, stylesheets/reset.scss */

.club-listings li aside.club-overview:before, .club-listings li aside.club-overview:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.club-listings li aside.club-overview:after {

  clear: both;

}

/* line 1779, stylesheets/style.scss */

.club-listings li aside.club-overview a.read-more {

  background: #e82c2d;

  display: block;

  color: #fff;

  text-decoration: none;

  padding: 10px 15px;

  padding: 1rem 1.5rem;

  float: left;

  margin-top: 15px;

  margin-top: 1.5rem;

}



/* line 1794, stylesheets/style.scss */

.club-page h2 {

  color: #15377e;

  font-weight: 300;

  font-size: 28px;

  line-height: 30px;

  font-size: 2.8rem;

  line-height: 3rem;

  margin-bottom: 15px;

  margin-bottom: 1.5rem;

}

/* line 1800, stylesheets/style.scss */

.club-page h3 {

  color: #e82c2d;

  font-weight: 300;

  font-size: 18px;

  line-height: 20px;

  font-size: 1.8rem;

  line-height: 2rem;

  margin-bottom: 5px;

  margin-bottom: 0.5rem;

}

/* line 1807, stylesheets/style.scss */

.club-page aside.map {

  margin-right: 20px;

  margin-right: 2rem;

}

/* line 1809, stylesheets/style.scss */

.club-page aside.map a {

  display: block;

}

/* line 1814, stylesheets/style.scss */

.club-page section {

  *zoom: 1;

  padding-bottom: 20px;

  padding-bottom: 2rem;

  margin-bottom: 20px;

  margin-bottom: 2rem;

  border-bottom: 1px solid #15377e;

}

/* line 66, stylesheets/reset.scss */

.club-page section:before, .club-page section:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.club-page section:after {

  clear: both;

}

/* line 1819, stylesheets/style.scss */

.club-page section:last-child {

  border-bottom: none;

}

/* line 1824, stylesheets/style.scss */

.club-page section.facilities div aside {

  width: 32%;

}

/* line 1826, stylesheets/style.scss */

.club-page section.facilities div aside.double {

  width: 66%;

  margin-right: 2%;

}

/* line 1830, stylesheets/style.scss */

.club-page section.facilities div aside ul {

  margin-bottom: 10px;

  margin-bottom: 1rem;

}



/* line 1838, stylesheets/style.scss */

.tribe-events-calendar {

  font-family: "Open Sans", sans-serif !important;

}

/* line 1841, stylesheets/style.scss */

.tribe-events-calendar td h3 {

  padding: 10px !important;

  padding: 1rem !important;

}



/* Strength & Power Series */

/* line 1850, stylesheets/style.scss */

#entry-trigger {

  padding: 10px;

  padding: 1rem;

  background: #e82c2d;

  color: #fff;

  text-decoration: none;

  display: block;

  float: left;

}

/* line 1857, stylesheets/style.scss */

#entry-trigger.hidden {

  display: none;

}



/* line 1862, stylesheets/style.scss */

#gform_fields_4 h3 {

  color: #e82c2d;

}

/* line 1866, stylesheets/style.scss */

#gform_fields_4 li label {

  display: block;

  margin-bottom: 5px;

  margin-bottom: 0.5rem;

  color: #15377e;

}

/* line 1872, stylesheets/style.scss */

#gform_fields_4 li ul li {

  margin-bottom: 0;

}

/* line 1874, stylesheets/style.scss */

#gform_fields_4 li ul li input {

  width: auto;

  margin-right: 10px;

  margin-right: 1rem;

}

/* line 1878, stylesheets/style.scss */

#gform_fields_4 li ul li label {

  display: inline;

  margin-bottom: 0;

  color: #4d4d4d;

}



/* line 1888, stylesheets/style.scss */

.strength-power-tables h2 {

  color: #e82c2d;

  font-size: 24px;

  line-height: 30px;

  font-size: 2.4rem;

  line-height: 3rem;

  margin-bottom: 30px;

  margin-bottom: 3rem;

}

/* line 1894, stylesheets/style.scss */

.strength-power-tables .strength-table th {

  background: #15377e;

  color: #fff;

  padding: 10px;

  padding: 1rem;

}



/* line 1901, stylesheets/style.scss */

.strength-power-tabs {

  -webkit-box-sizing: border-box;

  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;

  /* Firefox, other Gecko */

  box-sizing: border-box;

  /* Opera/IE 8+ */

  border-bottom: 1px solid #15377e;

  padding-top: 20px;

  padding-top: 2rem;

  clear: both;

  *zoom: 1;

  margin-bottom: 30px;

  margin-bottom: 3rem;

}

/* line 66, stylesheets/reset.scss */

.strength-power-tabs:before, .strength-power-tabs:after {

  content: " ";

  display: table;

}

/* line 70, stylesheets/reset.scss */

.strength-power-tabs:after {

  clear: both;

}

/* line 1908, stylesheets/style.scss */

.strength-power-tabs li {

  float: left;

  padding: 0;

  border-right: 1px solid #15377e;

  margin-bottom: -1px;

  margin-bottom: -0.1rem;

}

/* line 1913, stylesheets/style.scss */

.strength-power-tabs li a {

  padding: 5px 10px;

  padding: 0.5rem 1rem;

  border-bottom: 1px solid #15377e;

  display: block;

}

/* line 1917, stylesheets/style.scss */

.strength-power-tabs li a.active {

  border-bottom: 1px solid #fff;

}



/* Twitter widget in sidebar */

.really_simple_twitter_widget li {

  margin-bottom: 20px !important;

}

